[2016-06-01 22:42] iwasrobbed opened #2 "Add attributed string support"
Can probably be done as a renderable protocol

[2016-06-01 22:43] iwasrobbed opened #3 "Add web view for rendering output"

[2016-06-02 00:18] #2 closed

[2016-06-02 15:32] #3 closed

[2016-06-02 16:45] iwasrobbed opened #6 "Add OS X support"
Welcoming any pull requests to add OS X support for those who need it.

[2016-06-16 18:01] codeslubber opened #8 "Add support for Carthage"

[2016-08-06 08:06] Jinkeycode opened #9 "Can you give an example how to custom the parser?"
Can you give an example how to custom the parser?

[2016-08-06 18:30] iwasrobbed commented on #9
You can find a link to the cmark parser in the readme, this is a simple Swift wrapper around it

[2016-08-06 18:30] #9 closed

[2016-09-20 20:08] iwasrobbed opened #10 "Swift 3.0 support"

[2016-09-27 01:59] vincentlong889 commented on #10
+1

[2016-09-27 01:59] vincentlong889 commented on #6
+1

[2016-10-12 22:00] iwasrobbed commented on #10
Resolved by @azeff in https://github.com/iwasrobbed/Down/pull/11 🎉

Swift 2.3 and below peoples can continue to use v2.0

[2016-10-12 22:00] #10 closed

[2016-10-20 08:03] matphillips opened #12 "installation problem"
Download, open in Xcode, build, locate Down.framework folder, drag to target Xcode project.
However, "Use of unresolved identifier 'Down' " so I've missed a step somewhere.

Don't want to use carthage or pods, so how to install?
Thanks.

[2016-10-20 09:47] azeff commented on #12
You need to import Down module (`import Down`).

[2016-10-20 10:06] matphillips commented on #12
of course, thanks.
Builds now but crashes at runtime with:
[code]

I resolved that by removing the library from the "Linked frameworks and libraries" section of the target and adding it to the "Embedded binaries" section. Then it worked.
Thanks.

[2016-10-20 10:06] #12 closed

[2016-11-09 11:18] mbuchetics commented on #8
seems to be working just fine with Carthage

[2016-11-09 12:49] iwasrobbed commented on #8
@mbuchetics Thanks! Mind giving an example on how they can integrate it and I'd be happy to add it to the readme?

[2016-11-09 13:26] mbuchetics commented on #8
I simply added
`github "iwasrobbed/Down" ~> 0.3`
to my `Cartfile` and ran `carthage update` (see https://github.com/Carthage/Carthage).

You can omit the version and just put
`github "iwasrobbed/Down"`
This is how most frameworks are describing it in their readme (however, I think it is good practice to specify a version).

Other than that you just have to make sure that your Xcode schemes are sha

[2016-11-09 23:01] iwasrobbed commented on #8
Thanks @mbuchetics !! I will add this today

[2016-11-09 23:01] #8 closed

[2016-11-11 10:08] ogezue opened #13 "Support Images"
Your framework seems to be really great!
I tried it with http://www.unexpected-vortices.com/sw/rippledoc/quick-markdown-example.html and everything seems to be working except images. Is this possible?

[2016-11-11 13:29] ogezue opened #14 "How to customize the Font?"
I create an attributedString with your lib. How can I change the font-size?

An example in your doc would be very helpful.

[2016-11-11 18:24] iwasrobbed commented on #14
It's in the Apple docs: https://developer.apple.com/reference/foundation/nsattributedstring

Re: an example: That's outside the scope of this project as the point is to be presentation agnostic and leave it up to each person to render how they wish.

[2016-11-11 18:24] #14 closed

[2016-11-11 18:28] iwasrobbed commented on #13
It wouldn't work with that example because they use a locally hosted image file versus specifying a URL

e.g.

[code]

versus

[code]

[2016-11-11 18:28] #13 closed

[2016-11-23 11:22] ahanriat commented on #10
It doesn't look like v0.3 has been published on CocoaPods 🙄

[2016-11-24 15:22] Sn0wfreezeDev opened #15 "Text Size of DownView too small"
I added Down to my current project to display markdown on different views in different layouts.
For me it seems the text ist a little bit too small to be good readable.
I made some changes to the css file to display a bigger font size.

I am not sure if there is another way, like a config file, but that worked for me and could be an addition to the project.
https://github.com/Sn0wfreezeDev/Down/co

[2016-11-26 16:24] Xopoko opened #16 "Disable zoom WebView"
How to disable zoom in/out in this view?

[2016-11-30 01:04] iwasrobbed commented on #15
@Sn0wfreezeDev Instead of modifying the minified css file directly, you should likely just add your own css file that gets included and then you can use that to override the default css implementation.

As much as possible, I'd rather Down act as a generic renderer and allow others to set styling how they'd like.

[2016-11-30 01:04] #15 closed

[2016-11-30 01:08] iwasrobbed commented on #16
If you're talking about the `DownView` web view, you should likely add this meta tag to [the index.html file that gets rendered](https://github.com/iwasrobbed/Down/blob/master/Resources/DownView.bundle/index.html) but keep in mind that this may not work in iOS 10 and above.

[code]

You can find more info about disabling zoom on http://stackoverflow.com/q/4389932/308315

[2016-11-30 01:08] #16 closed

[2017-01-05 16:22] Xopoko opened #17 "Render progress"
How can i show render progress?

[2017-01-05 16:24] #17 closed

[2017-01-12 14:43] georgbachmann opened #18 "Define custom fonts"
Is there any way to define custom fonts to use for the output?
I'd need attributed strings where I can define which base-font to use, also which font for h1, h2, ...

Is that anyhow possible? I've seen you basically just give the input to cmark, but couldn't find any possibility to customize any font :(

Am I just missing something here?

[2017-01-16 18:46] iwasrobbed commented on #18
@georgbachmann If you're rendering it as an attributed string, you should format it using `NSAttributedString` api's. More info https://developer.apple.com/reference/foundation/nsattributedstring

There are a lot of examples on StackOverflow as well for customizing attributed strings (e.g. rendering from html w/ custom fonts, etc) so I'd encourage exploring there first. This is just meant to be a

[2017-01-16 18:46] #18 closed

[2017-01-18 07:37] georgbachmann commented on #18
Sure, I am already reformatting the attributed string to match the style I need. I was just wondering if it's possible to create the attributed string already the way I want it to be. That would be the better solution I guess than having to reformat afterwards. Also that way I can only assume which type of text (h1, h2, h3, ...) I am changing based on the font it currently uses, which is not that

[2017-01-18 16:19] iwasrobbed commented on #18
@georgbachmann Your best bet is to read the man pages for the underlying library [cmark](https://github.com/jgm/cmark);  there are unfortunately very limited options at present

[2017-02-02 15:49] mbecker commented on #16
Not the perfect solution because double tap or scrolling down and the pinching out seems to work.

The better solution for me is to add:
[code]

Set the webview's scrollview delegate in DownView.init():
[code]

Change the viewport in index.html to:
[code]

Change the font scale in the css file to whatever you like:
[code]

[2017-02-09 01:26] li-xinyang opened #19 "How to update DownView content and keep the style?"
I can add a `DownView` to my view (use code below) but how can I update the content inside it?

[code]

Since the DownView is extended from `WebView`, I can update the content and `loadHTMLString`; however, the DownView style is gone after I have done so.

        let down = Down(markdownString: "`test`")
        let newStr = try? down.toHTML()
        cardbackView?.loadHTMLString(newStr!, baseURL

[2017-02-09 02:39] iwasrobbed commented on #19
@li-xinyang Thanks for opening an issue. This should be easy enough to add and I will push out a fix for it soon (today or tomorrow)

[2017-02-09 02:39] iwasrobbed opened #20 "Create changelog"

[2017-02-09 10:36] RhusferJohn opened #21 "How to keep UITextView font style"
Hi, as I use this module it overrides the font of the textView. Is there any way to set the font when initialising Down?

`let down = Down(markdownString: markup)
self.messageLabel.attributedText = try! down.toAttributedString()`

[2017-02-09 14:36] iwasrobbed commented on #21
@RhusferJohn Please see #18 or #14

[2017-02-09 14:36] #21 closed

[2017-02-09 21:53] iwasrobbed commented on #19
@li-xinyang Closing this via #22

[2017-02-09 21:53] #19 closed

[2017-02-09 22:06] iwasrobbed commented on #20
Closed via #22

[2017-02-09 22:06] #20 closed

[2017-02-24 13:48] Codeido opened #23 "A faster substitute to NSHTMLTextDocumentType?"
Hi!

Can be Down a better and faster substitute to render html inside a textview?
For example, is possible to use Down to improve the rendering of complex html inside a table view cell?
Actually i'm using an attributed string with this option `[NSDocumentTypeDocumentAttribute: NSHTMLTextDocumentType]` but the rendering is too slow.

Thanks
-Paolo

[2017-02-24 17:28] iwasrobbed commented on #23
@Codeido I haven't tried that before, but I Down is mostly for translating Common Markdown into other types (such as HTML). You'd still need something to render those converted types and Down has no control over that.

DownView will render HTML since it's a simple web view subclass, but it's still bound by the same rendering performance constraints as any other web view. I would assume UITextView

[2017-02-24 17:28] #23 closed

[2017-03-09 02:58] #6 closed

[2017-04-05 12:45] lucasecf opened #26 "Xcode 8.3 warnings"
Please help prevent duplicate issues before submitting a new one:

* [X] I've searched other open/closed issues for duplicates before opening up this new issue.

# Report

It's just me or everyone also have 5 warnings in the new Xcode 8.3? All of them apparently are in the cmark code btw.

![screen shot 2017-04-05 at 14 39 00](https://cloud.githubusercontent.com/assets/1894401/24706003/6d4b3f38-1a

[2017-04-05 16:12] iwasrobbed commented on #26
@lucasecf You can silence these with https://guides.cocoapods.org/syntax/podfile.html#inhibit_all_warnings_bang (or using the `-w` flag if you're not using CocoaPods http://stackoverflow.com/a/8580123/308315)

Xcode 8.3 shows those warnings now for implicit dependencies, but you (typically) shouldn't worry about warnings in pods. The ones shown above can be ignored and have always existed.

[2017-04-06 08:36] lucasecf commented on #26
@iwasrobbed I'm already using the flag actually. But it only works for warnings in the code apparently (the last one), so the first 4 ones are always there, unless I remove the files from the build phase in the pod locally, which is not a good alternative, since they will keep coming back after any pod install. I know it's not a big deal, but it's annoying to see warnings there anyways, they are t

[2017-04-06 18:32] iwasrobbed commented on #26
@lucasecf Ah, I see. Unfortunately, some of those files are definitely needed — both from a licensing and functioning perspective — so it's not as easy as just removing them. I'd file a radar w/ Apple and I'll ask around and report back if I hear anything.

[2017-04-06 19:01] iwasrobbed commented on #26
@AliSoftware said you could create a copy rule yourself for now, but that seems silly to ask people to do. This feels like Apple went a little too far when they reintroduced those warnings in 3rd party libraries as part of Xcode 8.3.

@lucasecf Best to file a radar so they fix it in one place versus having devs have to fix this for every single 3rd party framework across all projects.

![pasted im

[2017-04-07 07:32] lucasecf commented on #26
All right, thanks for the feedback anyways 👍

[2017-05-15 03:38] atom2ueki opened #29 "rendering markdown from file"
I've tried to render a long markdown format string with `Down`, but it can't be recognised, the only way to do it is rendering one line by one line, like this
[code]
wondering is there a better way to do it?

[2017-05-15 16:46] 128keaton commented on #29
Can you post the actual markdown file?

[2017-05-16 15:52] iwasrobbed commented on #26
Seems like the `.inc` and possibly the `.modulemap` files are actually needed during compilation, so it's not enough to just copy them as bundle resources (it will just throw an error).

Therefore, this will need to be fixed via Xcode radar unless someone has an alternative route.

Files in question:

[code]

Example `.podspec` changes of moving them to bundle resources:

[code]

And resulting err

[2017-05-24 16:37] iwasrobbed commented on #29
Closing this as I have not heard back. Feel free to reopen if you're still having the issue.

[2017-05-24 16:37] #29 closed

[2017-06-16 03:18] atom2ueki opened #33 "down.toAttributedString() custom text font and image size"
due to different size of devices, can't just give a fixed size to image in markdown, is there a way to custom text font and image size after it been converted to `NSAttributedString`, or is there a markdown standard to make this happens?
- markdown sample
[code]
- code sample
[code]
thanks!

[2017-06-16 04:41] iwasrobbed commented on #33
These questions are specific to styling `NSAttributedString` so you'd have better luck asking someplace like [StackOverflow](https://stackoverflow.com) since Down is only responsible for conversion.

Once it's in one of the many output formats Down supports, they can all be styled differently.

[2017-06-16 04:41] #33 closed

[2017-06-24 07:32] kimaldis opened #35 "Fenced code syntax highlighting"
Can this be done?

[2017-06-24 21:29] iwasrobbed commented on #35
It's just regular markdown so if it can be done in markdown, it can be done.

e.g.

[code]

[2017-06-24 21:29] #35 closed

[2017-06-24 21:36] kimaldis commented on #35
But with syntax highlighting on the code?
<img width="646" alt="screen shot 2017-06-24 at 11 09 44" src="https://user-images.githubusercontent.com/4265299/27512085-91a9e4ac-592d-11e7-927f-a497e696751d.png">

[2017-06-24 21:54] iwasrobbed commented on #35
Yes, there is an example in the readme: https://github.com/iwasrobbed/Down#view-rendering

[2017-06-27 20:42] raajvijay opened #36 "Markdown tables support"
This is more of a question than an issue.
Does this library support markdown tables conversion to HTML? It doesn't work as far I checked.

[2017-06-28 20:11] iwasrobbed commented on #36
@raajvijay CommonMark never originally supported tables as a core feature since it wasn't part of the markdown spec (people did them as one-off extensions).

GitHub is now using cmark (the library acting as the engine for this repo) and has added an extensions API that does do tables. It wouldn't be a lot of work to fork this repo and compile it w/ that lib instead, but I'd rather not do this sinc

[2017-06-28 21:29] raajvijay commented on #36
Thanks for the quick reply.

[2017-06-28 21:29] #36 closed

[2017-07-01 09:40] neoneye opened #37 "Example project"
Please help prevent duplicate issues before submitting a new one:

* [x] I've searched other open/closed issues for duplicates before opening up this new issue.

# Report

## What did you do?

1. I downloaded a zip with the project.
2. I tried to run the project in Xcode.
3. I realized that there was only unittests.

## What did you expect to happen?

I'm usually looking for an Example project tha

[2017-07-01 19:03] iwasrobbed commented on #37
Hi @neoneye 👋

I'm happy to incorporate one with a pull request, but the readme gives examples of all usage and there is even a [DownView](https://github.com/iwasrobbed/Down#view-rendering) component to make things very simple.

[2017-07-01 23:37] #37 closed

[2017-07-01 23:38] 128keaton commented on #37
Yes it’s extremely basic–I added an example anyway.

[2017-07-02 00:03] iwasrobbed commented on #37
Thanks @128keaton

[2017-07-25 11:05] DevilDimon opened #39 "Objective-C support"
This is one of the best frameworks for Markdown I've ever used. There aren't that many alternatives for Objective-C and I have to resort to HTML or WebViews.
Please add Objective-C support if it is possible.

[2017-07-26 05:25] iwasrobbed commented on #39
This wrapper is very tightly tied to Swift, but feel free to use the underlying `cmark` lib yourself if you need Objective-C support for rendering markdown.

[2017-07-26 05:25] #39 closed

[2017-08-07 04:05] Cu-Toof opened #40 "Can not load local image and link to local .md file"
I want to load local image and link to local .md file in .md file. So, I want to know subclasses that I have to edit. Could you please tell me?, thank you

[2017-08-17 14:57] ladislas commented on #40
@Cu-Toof here is my solution.

Just drop a text file containing your content anywhere in your project and use the following in your code:

[code]

[2017-08-18 08:26] Cu-Toof commented on #40
I want to click a link in the content of WKWebView to show a .md file that is saved in local and my solution is WKScriptMessageHandler. But I have an issue, I can't set WKWebViewConfiguration because DownView class has inited WKWebView with WKWebViewConfiguration default. So, I have not used DowView and custom a new WKWebView. Could you please edit DownView class with init method that can set WKWe

[2017-08-18 08:32] ladislas commented on #40
and as for the images not loading, the problem comes from the [`baseURL`](https://github.com/iwasrobbed/Down/blob/806fc0b78af9bbff132a18be28d2631bf7e686d0/Source/Views/DownView.swift#L73) used when [`loadHTMLString`](https://github.com/iwasrobbed/Down/blob/806fc0b78af9bbff132a18be28d2631bf7e686d0/Source/Views/DownView.swift#L87) is called, it resolves to the `DownView.bundle` url inside the pod an

[2017-08-18 08:33] ladislas commented on #40
@Cu-Toof said:

Try my solution and if it doesn't work, why not make a pull request yourself to add this feature?

[2017-08-18 17:18] iwasrobbed commented on #40
Thanks for your help @ladislas 💯 I'm happy to review any pull requests to improve upon this

[2017-08-25 02:09] ahwulf opened #41 "Unable to build with Xcode 9"
# Report

## What did you do?

Building my OS X project with Down under Xcode 9 Beta 6 failed due to framework built with previous version of swift error. I then changed my local Down to be swift 4, updated the source, ran the few tests. Removed the existing Down framework and added the newly built one.

## What did you expect to happen?

That my project would build.

## What happened instead?

It

[2017-08-25 02:16] #41 closed

[2017-08-25 02:16] ahwulf commented on #41
Ugh stupid xcode beta issues.

[2017-08-25 03:07] iwasrobbed commented on #41
Thanks @ahwulf we'll have a look at Swift 4 changes soon.

[2017-08-25 03:07] iwasrobbed commented on #40
Closing this for now; feel free to re-open for any PRs or further help needed

[2017-08-25 03:07] #40 closed

[2017-08-25 16:23] 128keaton commented on #41
Make sure you set your Xcode build tools to the beta when using a dependency manager, e.g.
`sudo xcode-select -s /Applications/Xcode-beta.app`

[2017-08-29 21:13] nitesh-iosdev opened #42 "Module file was created by an older version of the compiler"
Seeing error:

[2017-08-30 01:03] iwasrobbed commented on #42
@nitesh-iosdev Are you using a beta version of Xcode? This hasn't been converted to Swift 4 / Xcode beta yet

[2017-08-30 22:39] iwasrobbed commented on #42
Please try using this branch https://github.com/iwasrobbed/Down/tree/swift4 and let me know if you have any issues.

[2017-08-30 22:39] #42 closed

[2017-09-01 19:00] nitesh-iosdev commented on #42
I was using xcode8.2.1, I just updated xcode8.3.3 and this issue is resolved.

[2017-09-17 07:46] tebs1200 opened #43 "Carthage install fails: no such module 'libcmark'"
Please help prevent duplicate issues before submitting a new one:

* [x] I've searched other open/closed issues for duplicates before opening up this new issue.

# Report

## What did you do?

Added Down to my `Cartfile` and ran `carthage update --platform iOS`. I'm using the latest version of Carthage (0.25.0). Xcode version 8.3.3

## What did you expect to happen?

I expected the installation to

[2017-09-28 15:00] iwasrobbed commented on #43
I unfortunately do not use Carthage, but it sounds like it's not embedding the framework into the project correctly. You may want to manually check the which frameworks are embedded in your target in either of the General or Build Phases tabs.

[2017-09-28 15:10] iwasrobbed commented on #26
Looks like these are gone in the latest Xcode 9, closing via https://github.com/iwasrobbed/Down/pull/46

[2017-09-28 19:53] joshuacleetus commented on #26
still these first 4 warnings appears to me in Xcode 9

[2017-09-29 02:16] tebs1200 commented on #43
Having a quick look at [this article](https://medium.com/@filippotosetto/how-to-create-a-carthage-framework-8d9d65f98ac2), it may be that a cart file is needed in the project for any dependencies.

[2017-09-29 05:14] tebs1200 commented on #43
I've forked the project and will see if I can get it to work with Carthage.

[2017-10-02 05:33] 128keaton commented on #43
interesting--when I get time (assignments ugh) I'll take a look.

[2017-10-02 20:40] 128keaton commented on #43
This should be fixed in the latest PR. Give it a try.

[2017-10-03 14:54] iwasrobbed commented on #43
Closing for now, feel free to re-open if it's still broken for you @tebs1200

[2017-10-03 14:54] #43 closed

[2017-10-03 14:55] iwasrobbed commented on #26
Thanks @joshuacleetus I'll leave it open for now. Looks like we're stuck with these warnings. If you wouldn't mind, could you share the rules you're using to silence these so others can use them as well?

[2017-10-03 16:10] joshuacleetus commented on #26
Hi @iwasrobbed, I am using the attached rules and it is working for me.
<img width="899" alt="screen shot 2017-10-03 at 12 07 25 pm" src="https://user-images.githubusercontent.com/2602822/31135692-cfba9156-a833-11e7-87cb-ab183404e824.png">

[2017-10-04 03:31] 128keaton commented on #26
@joshuacleetus I updated the project settings with those filters--thank you so much!

[2017-10-04 03:41] iwasrobbed commented on #26
Closed via #48 ; thanks again @joshuacleetus and @128keaton

[2017-10-04 03:41] #26 closed

[2017-10-04 18:17] 128keaton opened #49 "Building for tvOS fails"
tvOS doesn't have a WebKit framework, so creating a separate target might be needed.
![screen shot 2017-10-04 at 1 17 15 pm](https://user-images.githubusercontent.com/1402918/31192251-5ff1249c-a906-11e7-871a-ca7e21a782f4.png)

[2017-10-05 02:31] alfredctchoi commented on #49
Getting a similar issue when running `carthage update`.  In the error logs, I get
[code]

[2017-10-07 23:31] 128keaton commented on #49
@alfredctchoi you will need to state the platform when running update

[2017-10-18 14:21] wattson12 opened #51 "Push v0.4.1 to cocoapods"
Please help prevent duplicate issues before submitting a new one:

* [x] I've searched other open/closed issues for duplicates before opening up this new issue.

# Report

## What did you do?

I tried to install `0.4.1` via cocoapods

## What did you expect to happen?

I expected that cocoapods would be aware of `0.4.1`

## What happened instead?

No such version could be found, latest cocoapods v

[2017-10-21 13:33] iwasrobbed commented on #51
Looks like CocoaPods is having an issue building it from a `pod lib lint` even though it installs fine otherwise.

You're welcome to look into it, but unfortunately I don't have much free time at the moment since I'll be moving soon.

As you noted, you can just point to the github tag instead and it'll install `0.4.1` from it:

---

Some breadcrumbs for whoever wants to have a look:

[code]

I ran

[2017-10-21 13:39] iwasrobbed commented on #51
Actually, it seems like just `pod lib lint` didn't work but the `pod trunk push` worked fine

Looks like `pod spec lint` is a better option since it checks out the remote instead of trying to use local files where `SWIFT_INCLUDE_PATHS` breaks

[code]

[2017-10-21 13:39] #51 closed

[2017-10-21 13:48] iwasrobbed commented on #49
Sorry for the slow response; the easiest thing to do might be to just conditionally compile using `#if os(tvOS)`

I'll push a change with this soon to make `DownView` unavailable for tvOS.

[2017-10-21 14:22] #49 closed

[2017-10-23 06:57] wattson12 commented on #51
Awesome, thanks 👍

[2017-10-24 12:47] davegomez commented on #43
I'm getting the same error when trying to build the example project using Xcode 9 `Missing required module 'libcmark'` and that's the only information I got from Xcode.

[2017-10-24 17:23] davegomez opened #54 "Compilation error using Carthage"
Please help prevent duplicate issues before submitting a new one:

* [x] I've searched other open/closed issues for duplicates before opening up this new issue.

# Report
The framework installation through Carthage failed

## What did you do?
* Create a new iOS project (Xcode 9)
* Create the Carthfile
* Run `carthage update`

## What did you expect to happen?
Install and being able to use the fram

[2017-10-24 23:45] 128keaton commented on #54
Have you tried `carthage update --platform iOS`?

[2017-10-24 23:53] davegomez commented on #54
Awesome this works! 🎉

BTW, the current version of the [Pod is 0.4.1](https://cocoapods.org/?q=Down)

[2017-10-24 23:54] #54 closed

[2017-10-28 07:03] shannonchou commented on #43
same error as @davegomez

[2017-10-28 13:27] shannonchou opened #57 "Compiling error on example project"
Please help prevent duplicate issues before submitting a new one:

* [x] I've searched other open/closed issues for duplicates before opening up this new issue.

# Report

## What did you do?

Clone the repo and run example project.
* Git commit: 642c564
* Xcode: 9.0.1

## What did you expect to happen?

Running successfully.

## What happened instead?

Compiling error "Missing required module 'li

[2017-10-29 01:20] iwasrobbed commented on #57
Thanks @shannonchou ; this should be fixed once this PR lands https://github.com/iwasrobbed/Down/pull/58

[2017-10-29 01:21] iwasrobbed commented on #43
@davegomez / @shannonchou Your issue w/ the example app is different than this parent issue. See https://github.com/iwasrobbed/Down/pull/58

[2017-10-29 01:33] #57 closed

[2017-11-29 16:48] alexrabin opened #59 "Syntax highlighting themes"
This is a feature request.
Can you guys create any more themes.
It would be nice to Choose from a light or a dark theme for syntax highlighting

[2017-11-30 13:37] iwasrobbed commented on #59
Hi @alexrabin 👋

Down is structured such that you can just add your own bundle (w/ css, js, etc) for whatever you'd like to customize in the `DownView` class. There are just too many unique customizations to consider, so we'd rather leave it up to the end user to modify to their heart's content.

See this test for an example: https://github.com/iwasrobbed/Down/blob/master/Tests/DownViewTests.swift

[2017-11-30 13:37] #59 closed

[2017-11-30 14:40] alexrabin commented on #59
@iwasrobbed okay that’s fair

[2017-12-20 09:14] Ivan-Cantarino opened #60 "Converting Markdown string to HTML with emojis"
*[x] I've searched other open/closed issues for duplicates before opening up this new issue.

# Report

## What did you do?

I've inserted a markdown string with some emojis into it and used `Down(markdownString: str).toHTML()`

The markdown string was something like:
[code]
## What did you expect to happen?

Expected the `toHTML()` function parsed the emojis, so it would appear inside the `WebVie

[2018-01-09 21:19] tp opened #61 "Installation via Swift Package Manager"
Hi,

I wanted to try out this package (as it seems to be the only Swift package to provide access to a Markdown AST for custom transforms), but hadn't yet set up CocoaPods or Carthage on my sample CLI application.

I was wondering whether there was anything preventing this project to provide a `Package.swift` configuration to be installable via SPM and if not whether you have any objections to pro

[2018-01-10 01:26] iwasrobbed commented on #61
Hi @tp 👋

We're happy to accept a pull request with that functionality added, but we don't have any plans to introduce it ourselves at this time.

[2018-01-10 01:41] shaps80 opened #62 "Lists and paragraph spacing"
Hi,

1. I have set my `paragraphSpacingAfter` to 0 but I still have spacing between each `li`.
2. Does the library support ordered lists at all?

This is my Custom styler for your reference:

[code]

[2018-01-10 01:47] shaps80 commented on #62
Here you can see there is still spacing after each list item.

<img width="324" alt="screen shot 2018-01-10 at 01 46 52" src="https://user-images.githubusercontent.com/251310/34752094-2cd83214-f5a8-11e7-9ae1-1c681e151bf7.png">

[2018-01-10 14:01] iwasrobbed commented on #62
Hi @shaps80 👋  This library doesn't do styling or presentation (other than via `DownView` class), it just structures the data by rendering into whichever format you need. It looks like you're using [BonMot](https://github.com/Raizlabs/BonMot)'s `XMLStyler` to do the presentation so you're better off raising the question in their issues section.

[2018-01-10 14:01] #62 closed

[2018-01-11 23:10] shaps80 commented on #62
Omg I’m so sorry I didn’t mean to post this to on your issues. Obviously this has nothing to do with your library. Sorry for the mistake.

One question I do have is whether or not you support ordered lists, sub lists, tables and also strike through?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-01-11 23:59] iwasrobbed commented on #62
@shaps80 No worries! Ordered lists and sub-lists should work, but I don't think strikethrough does at this time. You could always do this yourself using BonMot though

[2018-01-12 11:05] hotchner opened #63 "build error"
hello, i installed with pod, but when i build i got a error in XCode9/swift4/ios:
"""
DocumentReadingOptionKey' is unavailable in Swift
"'"
Could  you tell me how can i fix this? 😶

[2018-01-12 16:02] anelad opened #64 "Some warnings to fix"
* [x] I've searched other open/closed issues for duplicates before opening up this new issue.

# Report

## What did you do?

Just installed via CocoaPods.

## What did you expect to happen?

No warnings or errors.

## What happened instead?

1. Don't know how but there are 4 non-compilable sources in the Compile Sources list. I forked the Down project and see that there are not in the Compile Sou

[2018-01-13 05:46] #63 closed

[2018-01-13 13:24] anelad opened #65 "Image caching"
* [x] I've searched other open/closed issues for duplicates before opening up this new issue.

I have to cache the images in the markdown for offline usage. Is there any way to achieve this?

[2018-01-13 17:23] iwasrobbed commented on #64
Hi @anelad 👋 Does this help address your issue? https://github.com/iwasrobbed/Down/issues/26

[2018-01-13 17:25] iwasrobbed commented on #65
To better help me understand, how are you downloading the source file and then rendering the markdown into a view?

[2018-01-13 17:27] anelad commented on #64
Hi @iwasrobbed. Don’t know how I couldn’t see that. Sorry & thank you.

[2018-01-13 17:32] anelad commented on #65
in my case, markdowns are string objects stored in Firebase Cloud Firestore. I want to use Firebase Cloud storage references for image links. But for now using https links.

When I parse markdown into NSAttribıted string and show it in UITextView, the image is cached. But I have no idea how and where it is cached.

[2018-01-15 10:01] hotchner opened #66 "iOS8 crash"
env: XCode9/swift4
crashed on ios8/iphone6
dyld: Symbol not found: _NSCharacterEncodingDocumentOption

[2018-01-16 08:03] iDevPro commented on #66
replace init in NSAttributedString+HTML.swift and try again :)

 convenience init(htmlString: String) throws {
        guard let data = htmlString.data(using: String.Encoding.utf8) else {
            throw DownErrors.htmlDataConversionError
        }

        try self.init(data: data, options: [NSDocumentTypeDocumentAttribute: NSHTMLTextDocumentType, NSCharacterEncodingDocumentAttribute: String.En

[2018-01-16 15:25] iwasrobbed commented on #65
This falls a bit outside of Down's responsibilities since it's just a text transformation library. It's up to clients to handle rendering and caching concerns

[2018-01-16 15:25] #65 closed

[2018-01-16 15:26] #64 closed

[2018-01-16 15:28] iwasrobbed commented on #66
Thanks @iDevPro

Just a note: We'll be formally removing iOS 8 support from upcoming releases (as iOS 11 adoption is pretty high), so please fork this library if you still need to support it.

[2018-01-16 15:28] #66 closed

[2018-01-18 09:14] hotchner opened #67 "get heigth when add downview to other view?"
i tried to get height in WKWebview's delegate: didFinish Navigation, but get the wrong height, much heigher than correct.
How can i get then corret DownView height?

[2018-01-18 17:17] karstengresch opened #68 "[DownView] Load multiple .md files (link support)"
* [x] I've searched other open/closed issues for duplicates before opening up this new issue.
I've especially noticed #40 and here one issue with local images could successfully be solved.

# Report
Help needed. For either DownView or a hint how to implement this.

Alternatively, the example could perhaps get a bit extended.

## What did you do?
Loading a local .md file that has a link to another

[2018-01-19 18:51] 128keaton commented on #67
You might want to get the content size instead, since the WKWebView's height is the size of the actual view--the content size should extend beyond that. Read: https://stackoverflow.com/questions/16910117/how-to-find-the-height-of-content-of-scroll-view-or-webview-in-iphone

[2018-01-20 05:59] 128keaton commented on #60
Okay--I did a bit of investigating on this issue. It looked like the header wasn't being set properly, but I had to make sure cmark wasn't screwing up the output. First, I built cmark from the latest source and ran your test file through it. It outputted properly in my terminal, but spitting out to raw HTML rendered it exactly like your example. I simply pre-pended this to the html file:
`<meta ht

[2018-01-20 06:02] #60 closed

[2018-01-20 10:06] Ivan-Cantarino commented on #60
So all I should do isto append that <meta> tag to the head of the HTML and it should solve the issue?
Thank you for the help. 😉

[2018-01-20 18:40] 128keaton commented on #60
@Ivan-Cantarino correct!

[2018-01-21 05:26] hotchner commented on #67
i tried two methods to get height, all fialed.
1.  js: document.body.offsetHeight
2. webView.scrollView.contentSize.height

[2018-01-21 16:55] iwasrobbed commented on #67
@hotchner Can you please explain what you're trying to do with the height?

There are different heights, so it's difficult to point you in the right direction unless we understand your use case.

[2018-01-21 17:03] iwasrobbed commented on #68
@karstengresch You'd like need to form proper url links so the browser understands what you're trying to do. This is no different than rendering markdown on Github (except they render those relative urls correctly). Safari likely doesn't point to local filesystem unless you help it out.

Also, what happens when you try to intercept link tap handling yourself? e.g. https://stackoverflow.com/a/44409

[2018-01-21 18:41] karstengresch commented on #68
Thanks @iwasrobbed - your answer is very appreciated. Thanks also for Down in general - it's really a fantastic Markdown processor (wrapper)!

Thanks, I knew the WKWebView API, used a clone of _DownView_, made it it's own WKNavigationDelegate (could have used my ViewController, too) and used

[code]
which in fact triggers the link so it can be handled.

Anyway, my idea was to have local Markdown s

[2018-01-21 18:55] iwasrobbed commented on #68
Glad to hear @karstengresch ! We'll leave this open for now and we can add this conditionally behind a boolean flag in the future for that use case

[2018-01-21 21:33] karstengresch commented on #68
Hi @iwasrobbed - wonderful, thank you very much.

Sounds really great, thanks again!

[2018-01-22 08:53] hotchner commented on #67
@iwasrobbed  I add down to a tableViewCell, and i need to update tableView height when downView complete render. So i calculated the height in webView's delegate, didFinish Navigation.

[2018-01-22 16:36] iwasrobbed commented on #67
You're better off asking that on StackOverflow (e.g. https://stackoverflow.com/questions/27515236/how-to-determine-the-content-size-of-a-wkwebview?noredirect=1&lq=1).

`DownView` is nothing more than a basic `WKWebView` subclass so we'd rather avoid general programming questions unless it's specifically related to the `Down` lib and reproducible for us to debug.

[2018-01-22 16:36] #67 closed

[2018-02-08 17:08] camielverdult opened #69 "Error building/installing Down"
Please help prevent duplicate issues before submitting a new one:

* [x] I've searched other open/closed issues for duplicates before opening up this new issue.

# Report

## What did you do?

I downloaded the repo and ran `xcodebuild` to build the framework.

## What did you expect to happen?

I expected to be able to run the function.

## What happened instead?

 I got this error message: `'Down

[2018-02-08 19:02] camielverdult commented on #69
I've made a Pod that looks like this:
[code]

I then copied over the Down.xcworkspace to my project and added the executable as a target. I am still getting the same error. Can you help me out?

[2018-02-08 19:23] camielverdult commented on #69
Fixed it, didn't know how Pods worked.

[2018-02-08 19:23] #69 closed

[2018-02-19 21:35] georgemp opened #70 "Installing with Carthage for Mac fails"
Please help prevent duplicate issues before submitting a new one:

* [Y ] I've searched other open/closed issues for duplicates before opening up this new issue.

# Report
I tried installing Down using Carthage 0.28.0. However, it errors out with the following

``
Failed to write to /Users/georgemp/TestProject/Carthage/Build/Mac/Down.framework: Error Domain=NSCocoaErrorDomain Code=260 "The file “D

[2018-02-21 07:13] WillBishop opened #71 "WatchKit Support"
Please help prevent duplicate issues before submitting a new one:

* [x] I've searched other open/closed issues for duplicates before opening up this new issue.

# Report

I'd like WatchKit support for Down.

## What did you do?

I tried manually adding the Framework, however, this caused too many issues.

## What did you expect to happen?

I didn't expect it to work, but I would like it to

## Wh

[2018-02-22 21:10] kengruven commented on #70
It appears that the changeset that broke Mac builds was f2169a1f, part of #28.

For anyone else (like me) who doesn't need the newer features, `github "iwasrobbed/Down" == 0.3.3` works fine.

[2018-02-22 21:49] tonyarnold commented on #70
Huh, this is a bit special - the framework is built and archived successfully, but Carthage is looking in `BuildProductsPath/Release-iphoneos` rather than `BuildProductsPath/Release`. I'll try to have a look at it today.

[2018-02-23 02:48] #70 closed

[2018-02-23 06:23] kengruven opened #73 "macOS 10.11 support?"
Please help prevent duplicate issues before submitting a new one:

* [X] I've searched other open/closed issues for duplicates before opening up this new issue.

# Report

## What did you do?

- I built Down.framework for macOS, using Carthage.
- Then I dragged the framework to my Mac application (which is built for 10.11).

## What did you expect to happen?

The application would (still) build.

[2018-02-23 11:05] georgemp commented on #70
Unfortunately, I'm still getting the same error when installing via carthage. I also tried deleting my carthage cache, and, trying to install again. My Carthage version is 0.28.0 and XCode is at version 9.2

My workaround now is to add Down.xcodeproj to my application, and, use the built library.

If there is anything I can do to help test/debug this, do let me know. Thanks

[2018-02-23 12:18] tonyarnold commented on #70
@georgemp how are you specifying the dependency in your Cartfile? This hasn't been released in a tagged version yet, so you would need to do:

[code]

[2018-02-23 12:43] georgemp commented on #70
Aah..perfect. That worked :)

[2018-02-23 18:06] kengruven opened #74 "Swift 3+ convention for capitalization"
Please help prevent duplicate issues before submitting a new one:

* [X] I've searched other open/closed issues for duplicates before opening up this new issue.

# Report

## What did you do?

When using Down, all of the non-type identifiers (funcs, vars, etc.) follow the Swift 3+ convention of starting with a lower-case letter, except in the case of `struct DownOptions`.  It still uses the Swift

[2018-02-23 21:27] iwasrobbed commented on #71
I'm happy to accept any pull requests for this, but as I don't have a need for it myself it is pretty low priority amongst my projects at this time.

[2018-02-23 21:28] iwasrobbed commented on #73
Happy to accept a pull request for this and other tickets (I don't personally use Down with macOS)

[2018-02-23 21:28] iwasrobbed commented on #74
👍 Happy to accept a PR for this breaking change and we'll just bump the version like you suggested

[2018-02-23 22:43] #73 closed

[2018-02-24 15:15] #74 closed

[2018-02-24 15:22] iwasrobbed commented on #70
Just tagged this release v0.5.0 @georgemp and thanks again @tonyarnold 🙌

[2018-02-25 08:37] ladislas commented on #26
for those still having the issue now, activating the new build system fixed it for me.

[2018-02-26 08:58] WillBishop commented on #71
Alright, It's definitely out of my capabilities at the moment. The reason I asked is I'm developing a Reddit client for the Apple Watch, and Markdown -> NSAttributedText would be amazing

[2018-02-28 11:43] sarankumar291 opened #80 "`DocumentReadingOptionKey` Error via pod"
Please help prevent duplicate issues before submitting a new one:

* [ ] I've searched other open/closed issues for duplicates before opening up this new issue.

# Report

## What did you do?

ℹ Please replace this with what you did.

## What did you expect to happen?

ℹ Please replace this with what you expected to happen.

## What happened instead?

ℹ Please replace this with what happened inste

[2018-02-28 14:27] krummler commented on #80
Hi there, this seems to be the same issue as:

https://github.com/iwasrobbed/Down/issues/63

I'm having the same problem

[2018-02-28 14:47] iwasrobbed commented on #80
Hi there 👋 Can you please provide a bit more information. E.g. what version of Swift? what version of Xcode? Can you reproduce this in a minimal project (i.e. create a new project and only install the `Down` pod)

I'm afraid I can't do much unless you give more hints or help pinpoint it.

[2018-02-28 15:55] iwasrobbed commented on #80
Just an fyi: I tried reproducing this in a clean project on Xcode 9 and Xcode 9.2 using Swift 4 and cannot repro.

[code]

<img width="722" alt="screen shot 2018-02-28 at 9 43 15 am" src="https://user-images.githubusercontent.com/317671/36797390-d41d81ac-1c75-11e8-81af-8f361e13244c.png">

<img width="762" alt="screen shot 2018-02-28 at 9 43 50 am" src="https://user-images.githubusercontent.com/317

[2018-02-28 16:01] krummler commented on #80
For me this happened during pod install, but while trying to build the app.

It ended up being because my project was still swift 3.2, while Down is expecting Swift 4?

I think you can get around by downgrading down (0.3.3), migrating to swift 4, then updating to down 0.5.0 again.

[2018-03-01 00:09] iwasrobbed commented on #80
@krummler Yes, Down is written in Swift 4 but should be capable of being used in Swift 3 projects as long as the versions are set correctly. What version of Xcode are you using?

Examples [here](https://www.cerebralgardens.com/blog/entry/2017/10/04/mix-and-match-swift-3-swift-4-libraries-with-cocoapods) and [here](https://stackoverflow.com/questions/46101625/using-cocoapods-mixed-swift3-and-swift4

[2018-03-01 06:05] sarankumar291 commented on #80
After changed to swift Version 3.2 to 4 it started working Thanks

[2018-03-01 13:13] #80 closed

[2018-03-07 13:56] LinusGeffarth opened #82 "NSAttributedString to Raw string"
Is it possible to create a raw string from an `NSAttributedString`?
I'm thinking of something like `Down(attributedString: "bold, italic, regular").rawString` –> `"**bold**, *italic*, regular"`.

Reason:
I want my users to be able to style a text (using the regular `BIU`) and then convert it to a raw string which I can store in the database to later convert that string back to a rendered `NSAttrib

[2018-03-07 14:42] iwasrobbed commented on #82
Down is not meant to parse attributed strings and backward convert them into Markdown. It's only a one-way transformer from Markdown into other formats.

I would recommend looking at [BonMot](https://github.com/Raizlabs/BonMot) since it can probably help you do edit-in-place styling and then saving to and restoring from plaintext (i.e. have a look at `bonMotDebugString`).

[2018-03-07 14:42] #82 closed

[2018-03-07 16:37] LinusGeffarth commented on #82
I feel like this feature blends seamlessly into the functionalities of this awesome library. Too bad.
Thanks anyway!

[2018-03-12 21:51] joshuacleetus opened #83 "Converting \n in paragraphs into <br>, while marking down an html"
How can i convert `\n` in paragraphs into `<br>`?
In other words, is there any options that can make markdown newline (`\n`) between paragraphs to line break?

For example if the markdown looks like below:
[code]

How to show the output like

[code]

[2018-03-15 09:36] milocode opened #84 "Update cmark version to latest stable release"
Down is very Great , but the library cmark's version is 0.25.2 in Down. It is release in 2016. Now the version is 0.28.3. Could you update the library in Down?

[2018-03-15 13:49] gingerbeardman opened #85 "Markdown incorrectly highlights code block"
[X] I’ve searched other open/closed issues for duplicates before opening up this new issue.

# Report
Markdown incorrectly highlights code block

## What did you do?
Use FSNotes that leverages Down and this Highlight.js.

[code]

## What did you expect to happen?
`Look at me` line should be rendered as part of list item 1.

## What happened instead?
`Look at me` line is rendered as a code block.

[2018-03-15 14:05] iwasrobbed commented on #85
@gingerbeardman I'm a bit confused; are you using the `DownView` then if you're referencing the JS lib?

There is a distinction here between what Markdown is being rendered into what HTML and then what the JS highlighter does with said HTML. Please clarify when you have a moment

[2018-03-15 14:06] iwasrobbed commented on #84
Happy to accept a pull request for this 👍 I'm a bit booked up at the moment

[2018-03-15 14:14] gingerbeardman commented on #85
Hey, I’m just a user of FSNotes, not the developer. But yes it does use DownView and I think this is an issue with the highlighting as the HTML generated by cmake is correct.

[2018-03-15 14:27] iwasrobbed commented on #85
Just trying to understand the setup (as I'm neither the developer nor the user of FSNotes :P) 👍

As stated in the linked issue, I'm happy to accept a pull request to update the highlighter JS, but I'm personally booked up for now

[2018-03-15 14:28] gingerbeardman commented on #85
Of course, no problem at all.

[2018-03-15 14:32] iwasrobbed commented on #83
CommonMark doesn't care about newlines ([test it here](http://spec.commonmark.org/dingus), so you could have 30 newlines between paragraphs and it'd only render one line break.

I'd just manually replace `\n`, `\r`, etc with `<br/>` in your strings before rendering.

[2018-03-15 14:32] #83 closed

[2018-03-16 00:13] gingerbeardman commented on #85
Blocker: prettify doesn’t support Markdown (oops) https://github.com/google/code-prettify/issues/531

[2018-05-05 00:35] iwasrobbed commented on #26
Fixed and closed "properly" in https://github.com/iwasrobbed/Down/pull/86 ; I'll cut a new pod version tomorrow when I get some time

[2018-05-07 10:27] bajtyngier opened #88 "Dependency analysis warnings with Cocoapods"
Is there a particular reason for the `podspec` to include any of it's `preserve_paths`? It raises the following warnings when building the project:
[code]

[2018-05-24 04:16] arguiot opened #89 "Image size NSAttributedString"
Please help prevent duplicate issues before submitting a new one:

* [x] I've searched other open/closed issues for duplicates before opening up this new issue.

# Report
I have an image in my markdown content, but when I render it with Down, it is way bigger than expected

## What did you do?

I opened this issue

## What did you expect to happen?

I expected the image to fit the width of the NSA

[2018-05-25 22:51] iwasrobbed commented on #88
Closing due to no response.

[2018-05-25 22:51] #88 closed

[2018-05-25 22:53] iwasrobbed commented on #89
Down is just a Markdown transformer. It's up to you to style the output based on the device and your design spec. See https://stackoverflow.com/a/33961204/308315 for more info.

[2018-05-25 22:53] #89 closed

[2018-06-03 19:00] deeje opened #90 "Support for Dynamic Type"
# Report

## What did you do?

change the current Text Size (either in Settings > Display & Brightness > Text Size, or in Control Center)

## What did you expect to happen?

the size of text in DownView should change appropriately

## What happened instead?

the size of text doesn't change relative to the Dynamic Type text size setting

[2018-06-03 22:56] iwasrobbed commented on #90
In the spirit of open source code, I'm happy to accept a pull request for this ([especially since it's an easy change](http://www.interactiveaccessibility.com/blog/text-resizing-web-pages-ios-using-dynamic-type)). Thanks!

[2018-06-21 08:46] remaerd opened #91 "[Xcode 10] Crash in XCBuildService; need to use old build system"
Please help prevent duplicate issues before submitting a new one:

* [x] I've searched other open/closed issues for duplicates before opening up this new issue.

# Report

## What did you do?

ℹ I downloaded and open Down repository with Xcode 10.

## What did you expect to happen?

ℹ It can build

## What happened instead?

ℹ XCBuildService crashed. So I can't build the framework.

[2018-06-22 13:25] DmitriyTerekhin opened #92 "Access for"
Hello! Thank you for excellent framework!

Is it possible to get access to contentView for some modification? e.g. corner radius or change color?

[2018-06-23 01:22] iwasrobbed commented on #92
`contentView` is typically for `UITableViewCell` so I'm not sure what you're referring to.

You're welcome to fork the repo and make any changes you wish though 👍

[2018-06-23 01:22] #92 closed

[2018-06-28 10:58] MrAlek commented on #91
Using the legacy build system instead of the new one fixes the issue. In Xcode: `File -> Project Settings -> Build System -> Legacy Build System`

[2018-06-30 18:41] antonjazz opened #93 "[DownView] Support for internal links?"
Please help prevent duplicate issues before submitting a new one:

* [x] I've searched other open/closed issues for duplicates before opening up this new issue.

# Report

## What did you do?

I'm trying to use Down on markdown with internal links. An example is this [link](#destinationtext) to text at the bottom of this page.

I tried multiple standard ways of specifying the link and destination

[2018-07-01 15:08] antonjazz opened #94 "[iOS 10+] Warnings for WebKit signal service and latex.c"
* [x] I've searched other open/closed issues for duplicates before opening up this new issue.

# Report

## What did you do?

I've been using Down successfully in an iOS app project (Xcode 9.4.1, build for iOS 10.0+)

## What happened?

It runs fine for me (except for issue #93) but receive two unexpected warnings:

- at build-time latex.c line 185 generates this warning:
  `Implicit conversion lo

[2018-07-01 19:35] iwasrobbed commented on #94
As always, I'm happy to accept pull requests from the community. It's always nice to have help when I've already spent a lot of time building this for others ;)

Here's a few clues for you: http://lmgtfy.com/?q=site%3Astackoverflow.com+Could+not+signal+service+com.apple.WebKit.WebContent

I'll be traveling for a while and won't have time to investigate

[2018-07-01 19:37] iwasrobbed commented on #94
As for `Implicit conversion loses integer precision: ‘size_t’(aka 'unsigned long' to ‘int’`, it depends on how you're integrating the library. CocoaPods should silence these sorts of warnings since it's within the underlying C library rather than the Swift wrapper

[2018-07-01 19:38] iwasrobbed commented on #93
Happy to accept a pull request with this feature 👍

[2018-07-01 19:40] iwasrobbed commented on #61
Going to close this out since it's been 6 months. As always, I welcome pull requests from the broad community using this if it's an important need.

[2018-07-01 19:40] #61 closed

[2018-07-01 19:42] iwasrobbed commented on #71
Going to close this out since it's been 5 months. As always, I welcome pull requests from the broad community using this if it's an important need.

[2018-07-01 19:42] #71 closed

[2018-07-02 23:43] antonjazz commented on #93
Ah, I wish I were at that point! I'm brand new to github and almost brand new to iOS.
I appreciate the work you're doing and I look forward to the time when I'll be able to help contribute!

As far as this issues goes, I was surprised to find that not even
`<a href="#anchor">linking text</a>` and `<a name="anchor">linked-to text</a>`
worked when I ran it through Down. Since that's just standard HT

[2018-07-05 18:56] antonjazz commented on #93
Update: I looked at the HTML code generated by Down and it seems correct. So, assuming the DownView initializer is not changing the HTML code, that would mean that issue is with WKWebView.

[2018-07-05 19:09] antonjazz commented on #94
Thanks, Rob. I am indeed using CocoaPods to integrate Down, so I'm not sure why I'm getting the implicit conversion warnings… but I'll ignore them until there's a reason why I can't.

[2018-07-10 20:48] ericmarkmartin opened #95 "&rdquo; not being rendered"
Please help prevent duplicate issues before submitting a new one:

* [x] I've searched other open/closed issues for duplicates before opening up this new issue.

# Report

## What did you do?

Rendered a `DownView` with a markdown string

## What did you expect to happen?

I `&rdquo;` to turn into a right quotation mark

## What happened instead?

the text `&rdquo;` (without the quotes) appeared i

[2018-07-19 08:58] DmitriyTerekhin opened #96 "Back Gesture"
Hello!
I want to use gesture for return back to previous view controller. I added back gesture to my view controller that has downView (i just did some setups for navigation controller). But the downView overlap my ViewController's view and don't allow to use that gesture. How to use back gesture with downView???

[2018-07-19 16:10] 128keaton commented on #96
DownView inherits from WKWebView.

https://www.hackingwithswift.com/example-code/wkwebview/how-to-enable-back-and-forward-swiping-gestures-in-wkwebview

[2018-07-19 22:07] iwasrobbed commented on #96
As Keaton said, there are multiple ways to enable back gestures. If you're composing your own view hierarchy with a `DownView` inside of a view controller which is inside of a navigation controller, you'll like want to enable the `navigationController.interactivePopGestureRecognizer` like is described here: https://stackoverflow.com/a/43433530/308315

This isn't a Down specific question, so I'm cl

[2018-07-19 22:07] #96 closed

[2018-08-06 18:58] ericmarkmartin commented on #95
With all due respect, I'm not sure how this is an enhancement and not a bug.

[2018-08-09 19:55] Fenrikur commented on #90
Dynamic Type can already be used with Down e.g. by supplying a `Down.toAttributedString(options: DownOptions, stylesheet: String?)` with an appropriate stylesheet. The main issue here is that by setting the `font` attribute on all HTML elements, you will automatically strip clear any other changes to their style made via `font-*` attributes like `font-weight` or `font-size`, which results in `<str

[2018-08-12 20:40] hyouuu opened #98 "Is there a way to convert NSAttributedString back to markdown?"
Please help prevent duplicate issues before submitting a new one:

* [v] I've searched other open/closed issues for duplicates before opening up this new issue.

# Report

Is there a way in Down to do that? If not, any recommended approaches? Sorry if it's a dumb question

[2018-08-13 01:30] iwasrobbed commented on #98
You can convert it to HTML and then convert that to Markdown. Both of those are unfortunately outside the scope of this library.

E.g. https://stackoverflow.com/questions/5298188/how-do-i-convert-nsattributedstring-into-html-string

[2018-08-13 01:30] #98 closed

[2018-08-13 01:32] #91 closed

[2018-08-13 04:46] hyouuu commented on #98
Thanks for the quick reply and pointer!

[2018-08-13 11:33] krummler opened #99 "[cmark] Some characters are escaped twice"
First off, thanks for this great library!

* [x] I've searched other open/closed issues for duplicates before opening up this new issue.

# Report

## What did you do?
Entered multiple html-excaped characters into the content of a `DownView`

## What did you expect to happen?

I expect characters to be rendered like their unescaped counterparts, for example:
- `&amp;` becomes `&`
- `&quot;` become

[2018-08-20 22:48] lilyball opened #100 "[Down] Rendering to attributed string is really slow, requires main thread"
Please help prevent duplicate issues before submitting a new one:

* [X] I've searched other open/closed issues for duplicates before opening up this new issue.

# Report

`Down`'s implementation of `.toAttributredString()` invokes `NSAttributedString(htmlString:)`. This is problematic because it's *really* slow, and it also is only safe to do so on the main thread (under the hood this ends up Web

[2018-08-24 18:58] iwasrobbed commented on #95
@ericmarkmartin Thanks Eric. Closing this one as it's duplicated by #99 which has more information

[2018-08-24 18:58] #95 closed

[2018-08-24 19:00] iwasrobbed commented on #100
Thanks for the issue, @kballard 👍

Indeed, that support was originally added to bridge the gap at the time, since many folks needed `NSAttributedString` support. I personally don't use that feature, but I'm open to others helping to improve upon it with a pull request

[2018-09-01 00:10] garyhooper opened #102 "DownView font size on iPad is huge"
Please help prevent duplicate issues before submitting a new one:

* [X] I've searched other open/closed issues for duplicates before opening up this new issue.

# Report
I'm using DownView to display an .md file. On iPhone, it appears as expected. On iPad (in landscape mode), the font is huge...approx. 55 characters per line.

## What did you do?

[code]

## What did you expect to happen?

Reason

[2018-09-02 18:08] iwasrobbed commented on #102
Feel free to customize the CSS to your heart's delight: https://github.com/iwasrobbed/Down/blob/master/Tests/DownViewTests.swift#L74

[2018-09-02 18:08] #102 closed

[2018-09-19 02:51] iwasrobbed commented on #85
Came across Prism.js today which is what React docs use. They support quite a lot of languages separately https://cdnjs.com/libraries/prism

[2018-09-19 07:45] gingerbeardman commented on #85
Ooh. Looks good, thanks for posting.

[2018-09-21 21:53] iwasrobbed opened #105 "[Help out] Collaborators wanted! Help us improve Down"
![](https://media.giphy.com/media/xT9IgG50Fb7Mi0prBC/giphy.gif)

# Help us out!

Down ended up being one of the defacto Swift libraries for CommonMark / Markdown and I'd welcome any help in maintaining it and expanding its API.

# How you can help

- Find [an open issue](https://github.com/iwasrobbed/Down/issues) to work on and open up a pull request for
- Comment down below if you'd be interested

[2018-09-22 13:30] jdisho opened #106 "Blockquote does not work in NSAttributedString"
Hello 👋,

I am having an issue with `blockquote` (>), which does not render when I use `NSAttributedString`

Please help prevent duplicate issues before submitting a new one:

* [x] I've searched other open/closed issues for duplicates before opening up this new issue.

# Report

## What did you do?

[code]

## What did you expect to happen?

I expect to see something like this:

<img width="457"

[2018-10-08 15:41] brandontreb opened #107 "HTML to Markdowndow?"
I don't seem to see it in the docs. Is there a way to convert an HTML string to Markdown using Down?

Thanks!

[2018-10-09 21:37] iwasrobbed commented on #107
@brandontreb Sorry but this is not supported; only Markdown --> other formats

[2018-10-09 21:37] #107 closed

[2018-11-08 16:31] phoney opened #111 "[DownView] Doesn't reflow text on orientation change"
Please help prevent duplicate issues before submitting a new one:

* [X ] I've searched other open/closed issues for duplicates before opening up this new issue.

# Report

## What did you do?

I have a simple markdown string that I'm displaying using Down on iOS. When I rotate the device the text doesn't reflow. The line breaks don't change. The text just gets bigger in landscape.

I think maybe

[2018-11-08 20:42] phoney commented on #94
The loses precision warning is a legitimate warning. I'm sure the code runs fine but there's a type mismatch. Fixing it would be a simple typecast or changing the type of one of the variables. @iwasrobbed  is that a change that you'd accept in a PR?

[2018-11-10 16:46] iwasrobbed commented on #84
This was done in #112

[2018-11-10 16:46] #84 closed

[2018-11-10 16:52] iwasrobbed commented on #99
Thanks for filing this @krummler; this is an issue in the underlying `cmark` lib. We are using the stable version 0.28.3 so you'd need to file a feature request in the [cmark](https://github.com/commonmark/cmark/issues/new) repo.

Confirmed

[code]

becomes

[code]

[2018-11-10 16:56] iwasrobbed commented on #94
Going to close this as @phoney updated cmark to v0.28.3 which would fix that warning.

For the WebKit warning, please ensure you're adding `DownView` to the parent view before loading a markdown string into it (i.e. https://stackoverflow.com/a/44623268/308315)

[2018-11-10 16:56] #94 closed

[2018-11-10 16:58] iwasrobbed commented on #106
This has been fixed on the latest master; I'll push a new CocoaPods update today

<img width="350" alt="screen shot 2018-11-10 at 11 57 30 am" src="https://user-images.githubusercontent.com/317671/48303978-de1bbd80-e4df-11e8-9429-5bb00fd4a9ff.png">

[2018-11-10 17:07] #106 closed

[2018-11-10 17:09] iwasrobbed commented on #111
Thanks for filing an issue, @phoney! If this is the case:

then you can change the HTML in the bundle to test it: https://github.com/iwasrobbed/Down/blob/master/Resources/DownView.bundle/index.html

[2018-11-10 17:11] iwasrobbed commented on #90
It looks like a workaround has been provided, so I'm going to close this issue. I'm also open to accepting a pull request in the future to add support 👍

See workarounds:

- https://github.com/iainsmith/ios/commit/2ad2ba9a1ca01480b1538e7bfa2ae6af201cd5cf
- https://github.com/iwasrobbed/Down/issues/90#issuecomment-411877259

[2018-11-10 17:11] #90 closed

[2018-11-10 20:05] phoney opened #115 "How to update to the latest version of the cmark library"
@iwasrobbed I don't have permission to create or edit a wiki page so here's the process for updating.

# Process for updating the cmark library used in the Down project

* The cmark project can be found at https://github.com/commonmark/cmark
* Fork the Down project on GitHub.
* git clone your fork to your Mac.
* git clone the cmark project to your Mac.

`git clone https://github.com/commonmark/cma

[2018-11-10 20:13] iwasrobbed commented on #115
Perfect, thanks again @phoney !

I've added this here: https://github.com/iwasrobbed/Down/wiki

[2018-11-10 20:13] #115 closed

[2018-11-12 10:31] jonashinge opened #116 "[Down] Can't render toAttributedString while app is in background"
# Report

## What did you do?

Used the toAttributedString() method.

## What did you expect to happen?

No crash.

## What happened instead?

Got the following issue report from Crashlytics:
[code]

In my case the app was launched and while put into background the toAttributedString() was called which caused the exception. When debugging the method was called on the main thread, however enforcing

[2018-11-13 09:45] krummler commented on #99
Hi Rob,

I make an issue: https://github.com/commonmark/cmark/issues/276. I'll report back if there are any significant changes.

[2018-11-22 15:54] ghowen opened #117 "2 Swift Compiler Errors when installing Down on iOS"
* [X ] I've searched other open/closed issues for duplicates before opening up this new issue.

# Report
After installing Down via Cocoapods, I get 2 compile errors and cannot build my project anymore
(Xcode 10.1, Swift 4.2, Target iOS 11).

[code]
## What did you do?

Install Down by adding it to the podfile with
`  pod 'Down'
`
## What did you expect to happen?

Down to install and work as adver

[2018-11-22 16:50] iwasrobbed commented on #117
Not sure what GRPC is, but if you can reproduce this without that dependency, feel free to reopen this issue.

Often times a low-level dependency (like the error message given in `Pods/gRPC-C++/src/core/lib/gprpp/memory.h:22:10: 'grpc/support/port_platform.h' file not found`) will causer upper level dependencies to not build. Fix the lower level errors first and then see if everything else builds.

[2018-11-22 16:50] #117 closed

[2018-11-22 18:57] ghowen commented on #117
Well, the thing is that without add the `Down` pod, my app compiles fine.

Or in other words: Just by adding `pod 'Down'` to my podfile breaks the build. So I assumed that libcmark as a dependency of Down is using GRPC and that this breaks things.

Do you think this has nothing to do with Down?

[2018-11-22 19:16] iwasrobbed commented on #117
libcmark doesn't do any sort of networking since it's just a CommonMark renderer.

It's much more likely that Down sets a specific compiler type for itself (like you mentioned, C++, Objective-C++, version of C++, etc) and that conflicts with the one that GRPC sets for itself, which is why I mentioned setting each of those independently by going into the Pods project, selecting the respective libra

[2018-11-28 15:15] aelkady commented on #117
@ghowen @iwasrobbed I have run into this exact issue as well (Down/gRPC incompatibility) and I have found that forcing `Down` to point to v0.5.2 in your pod file (`pod 'Down', '0.5.2'`) will fix the compilation error. This leads me to believe that something changed in `Down` after v0.5.2 to cause this issue. Would either of you have any additional insight into this?

[2018-11-28 21:15] phoney commented on #99
They deny they can reproduce this on the cmark project in that issue#276. The date that 0.28.3 PR was merged into Down is the same day as @iwasrobbed 's comments above (it says 18 days ago). When I attempt to reproduce this with Down 0.6.1 it seems to work correctly. I get

`<p>&amp; Hello</p>\n<p>&quot; Hai</p>\n<p>&lt; Does that work</p>\n<p>&gt; Maybe</p>`

which I think is correct. Is it possi

[2018-11-28 21:43] iwasrobbed commented on #99
Thanks for checking @phoney! Please verify with the latest Down release and re-open this issue if it continues. It might just be an encoding issue if so @krummler

[2018-11-28 21:43] #99 closed

[2018-11-29 10:48] krummler commented on #99
Hi there, thanks for the feedback, it seems to work fine now!

[2018-11-30 12:44] AlexIzh opened #120 "[Carthage] Missing required module 'libcmark'"
Please help prevent duplicate issues before submitting a new one:

* [x] I've searched other open/closed issues for duplicates before opening up this new issue.

We had this issue for example project (https://github.com/iwasrobbed/Down/issues/57) but solution was related to only example project, but not all other cases.

# Report

## What did you do?

1. Install the framework via carthage or manua

[2018-11-30 14:20] rob-keepsafe commented on #120
Hi there! I personally don't use Carthage so I can't be of much help with a fix. Maybe one of the other maintainers can advise here.

It might have to do with the modulemap file changing recently to remove the reference to the cmark include. Otherwise this project hasn't changed paths or file locations in a long time, so I'd be surprised if it broke because of that.

If you can reproduce this with

[2018-11-30 14:21] iwasrobbed commented on #120
Hi there! I personally don't use Carthage so I can't be of much help with a fix. Maybe one of the other maintainers can advise here.

It might have to do with the modulemap file changing recently to remove the reference to the cmark include. Otherwise this project hasn't changed paths or file locations in a long time, so I'd be surprised if it broke because of that.

If you can reproduce this with

[2018-11-30 14:31] iwasrobbed commented on #120
Someone else will have to look into Carthage support, sorry there.

Re: integrating manually: Building a universal framework and linking the locations properly is not within the scope of this project. I would recommend just integrating the project so it builds a proper binary based upon the build target architecture

[2018-11-30 14:34] AlexIzh commented on #120
https://github.com/iwasrobbed/Down/issues/57
The same problem, but solution just insert Down.project inside your project is not solution for all cases, because sometimes you have to just use .framework file without sources.

If using resulting framework file without sources is not within the scope of this project, then update README file:
[code]
Both these installations are not working properly. C

[2018-11-30 14:35] iwasrobbed commented on #120
@128keaton or @phoney Any insights here?

[2018-11-30 14:38] iwasrobbed commented on #120
@AlexIzh Yes, the readme is wrong in that scenario. You can't just integrate a resulting .framework because it won't have all build slices needed for devices and simulators (aka it's not a fat binary or universal framework)

I believe Carthage pre-compiles into universal frameworks and then strips frameworks of simulator slices when archiving for the app store, so you'd have to do the same if you'

[2018-11-30 14:40] AlexIzh commented on #120
@iwasrobbed you cannot use it not because of you don't have fat binary :) even if you create a fat binary yourselves, you won't be able to use this framework file without sources. if you try to remove sources, you will get the error from topic

[2018-11-30 14:46] iwasrobbed commented on #120
I'd start with the modulemap and go from there. I am on vacation for the next 2 weeks so I don't have a computer to dig in.

Like I said earlier, this had to work for 4 different integration scenarios across 3 different target devices so if someone has a fix that doesn't break others, I'm happy to have a look

For now, I'd work around it until we can fix

[2018-12-07 06:31] chriszielinski commented on #68
If I understand this correctly, I believe my recent additions suffice to close this issue. Take a look at the [testCustomURLSchemeHandler](https://github.com/iwasrobbed/Down/blob/8db18023dd67b0cc56bc27b1933917c52067acfa/Tests/DownViewTests.swift#L101) test case for an example that uses a custom URL scheme handler. The only possible inconvenience may be that you'd have to use a custom URL scheme (l

[2018-12-13 13:02] qwsdxcqwsdxc opened #121 "[Attributed Strings] Line spacing more than expected"
The spacing between each line and paragraphs is more than intended space. (Eg 1 newline \n = 2 or more \n)

The linespacing value does not seem to reflect when converting the Markdown text to attributed string.

[2018-12-20 19:46] iwasrobbed commented on #116
Consolidating this into #100

[2018-12-20 19:46] #116 closed

[2018-12-20 19:48] iwasrobbed commented on #121
Can you please specify how you're rendering the Markdown? @qwsdxcqwsdxc

[2018-12-20 19:52] iwasrobbed commented on #121
This is more an issue within WebKit since it's the primary renderer of attributed strings from HTML, which is what Down does under the hood.

[2018-12-22 04:34] jatinverma007 opened #122 "support for audio markdown?"
Please help prevent duplicate requests before submitting a new one:

* [ ] I've searched other open/closed issues for duplicates before opening up this new issue.

# Feature Request

## Is your feature request related to a problem? Please describe.

ℹ A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

## Describe the solution you'd like

ℹ A clear and con

[2019-01-17 21:40] kengruven commented on #100
It looks like #81 was aiming to do this -- and now it's at [wireapp/Down]( https://github.com/wireapp/Down).

I haven't looked at it or even tried it, so I have no idea if it's complete, or how well it works.

[2019-01-24 22:45] idsky2 commented on #80
I'm getting this now, with XCode 9.4.1, Swift 4.1 and any iOS target (just tried 11.4)
Apple says DocumentReadingOptionKey is only iOS11+ but Down is meant to work on iOS9+

[2019-02-05 23:16] garyhooper commented on #117
I have the same issue.  Forcing Down to v0.5.2 solves the problem Upgrading to latest 0.6.2 causes the compile error. I am also using FirebaseFirestore (1.0.0) and thus gRPC-C++ (0.0.6), gRPC-Core (1.17.0).

[2019-02-09 18:59] ahmedabadie opened #123 "Use with storyboards"
Please help prevent duplicate issues before submitting a new one:

* [x] I've searched other open/closed issues for duplicates before opening up this new issue.

# Report

## What did you do?

Added a DownView to a storyboard.

## What did you expect to happen?

Load the DownView normally.

## What happened instead?

[code]

I'm not sure if that's an intended behavior, but I expect it to work norm

[2019-03-04 09:27] goelay opened #124 "Cocoapods: libcmark"
I tried installing via cocoa-pods and it always throw libcmark error.

Please fix it.

[2019-03-16 16:24] iwasrobbed commented on #124
Please re-open this once you have more information to post. This is too vague to be actionable.

[2019-03-16 16:24] #124 closed

[2019-03-16 16:24] iwasrobbed commented on #117
There is a fork you can use here for now until someone patches the main libcmark repo: https://github.com/iwasrobbed/Down/pull/125

[2019-03-16 16:28] iwasrobbed commented on #122
There is an ongoing discussion here: https://talk.commonmark.org/t/embedded-audio-and-video/441/98

Once finalized, it will need doing in the main libcmark repo: https://github.com/commonmark/cmark

[2019-03-16 16:28] #122 closed

[2019-03-16 16:29] iwasrobbed commented on #123
Feel free to fork and open a pull request with the required (simple) changes. Open source is open to help from the community, not just my responsibility

[2019-03-16 16:29] #123 closed

[2019-03-21 11:21] mdiep opened #126 "Crash rendering markdown"
# Report
Crash rendering markdown

## What did you do?
This Swift snippet crashes:

[code]

I tried running this as a cmark test and it appears to work there, so I'm a bit confused. It definitely _looks_ like a cmark bug, but I haven't dug in enough yet to be sure.

## What did you expect to happen?

Markdown should render

## What happened instead?

[code]

[2019-03-21 22:27] phoney commented on #111
@iwasrobbed   I made a PR to address this issue. Setting the meta viewport tag to width=device-width makes the DownView reflow the text on iOS when rotating the device. I think this is the default that most users would want.

[2019-03-22 21:07] phoney commented on #126
I spent some time investigating this today. You'll notice that cmark_chunk_free() doesn't call xcalloc() and that's the proximate cause of the crash.

Without going through all the details there is a missing #include in the cmark file parser.h. It should look like this

#include <stdio.h>
#include "references.h"
#include "node.h"
#include "buffer.h"
#include "memory.h"

references.h is missing. Wh

[2019-03-23 03:50] iwasrobbed commented on #126
I'm happy to accept pull requests, but prefer they be made upstream into https://github.com/commonmark/cmark

[2019-03-23 16:49] phoney commented on #126
They already fixed this based on my issue filed there. There's no real way for me to tell when they might have a new versioned release and I think it's been over a year since their 0.28.3 version. We can either add this one change in our source base or pull the latest code from their HEAD. I can make a PR either way in the next few days. I would probably recommend pulling their latest code.

See a

[2019-03-24 00:58] iwasrobbed commented on #126
@phoney I'd rather patch the 0.28.3 version for now in this repo and anyone is welcome to create a branch based off the HEAD of cmark if they want to live a little closer to the edge

Stability is really important since many people are using this in production so I want to ensure we're tracking to the stable releases of cmark.

[2019-03-24 00:59] iwasrobbed commented on #111
Closed in #127 by @phoney 👍 👍 🎉

[2019-03-24 00:59] #111 closed

[2019-03-24 01:06] iwasrobbed commented on #100
@johnxnguyen has graciously offered to make a PR for their changes in #81 (after a little cleanup) and I would appreciate your review on that once it's ready @lilyball 🙏

[2019-03-25 13:36] mshibanami opened #128 "Support SwiftPM"
Please help prevent duplicate requests before submitting a new one:

* [x] I've searched other open/closed issues for duplicates before opening up this new issue.

# Feature Request

This library doesn't support the Swift Package Manager so it'd be nice if it did.

## Is your feature request related to a problem? Please describe.

I tried to use this library in my CLI program written in Swift but

[2019-03-27 00:58] iwasrobbed commented on #126
fixed in https://github.com/iwasrobbed/Down/pull/129

[2019-03-27 00:58] #126 closed

[2019-03-27 01:09] iwasrobbed commented on #128
I'm happy to accept pull requests from the community; closing this one since it didn't garner much attention in https://github.com/iwasrobbed/Down/issues/61

[2019-03-27 01:09] #128 closed

[2019-03-27 01:16] iwasrobbed commented on #68
Going to close this out since we haven't heard back from @karstengresch for Chris' comment above

[2019-03-27 01:16] #68 closed

[2019-03-27 01:19] iwasrobbed commented on #121
This should be easier once #100 and #81 are done; for now, it's just a limitation of WebKit. Feel free to clean the data prior to rendering

[2019-03-30 22:31] iwasrobbed commented on #124
Possibly fixed in https://github.com/iwasrobbed/Down/pull/125

[2019-03-30 22:32] iwasrobbed commented on #117
Possibly fixed in https://github.com/iwasrobbed/Down/pull/125

[2019-04-03 22:11] JetForMe opened #131 "Swift 4/5 compatibility"
Please help prevent duplicate issues before submitting a new one:

* [x] I've searched other open/closed issues for duplicates before opening up this new issue.

# Report

I'm trying to use Carthage to include Down in my Xcode 10.2/Swift 5 project. But the Down project specifies Swift 4, and I get incompatibility errors when trying to compile/link against it.

## What did you do?

Created a new Sw

[2019-04-03 23:00] iwasrobbed commented on #131
I don't use Carthage but I imagine if we just bump to Swift 5 with whatever
changes that ensues, then others can just use an older tag if they still
need Swift 4 or below, no?

On Wed, Apr 3, 2019, 6:11 PM Rick M <notifications@github.com> wrote:

[2019-04-03 23:07] JetForMe commented on #131
For sure, until they need features or bugfixes you offer but need pre-Swift-5 compatibility. I'm all for staying on the bleeding edge, but I think this is a problem that's going to affect a lot of Carthage projects (or really, any project that uses third-party libraries).

[2019-04-04 13:54] mglass commented on #100
@johnxnguyen @iwasrobbed Can I help with this somehow? I'd love to be able to close the issues in my app that are related to this 🙂

[2019-04-04 18:13] aelkady commented on #117
Just tried the latest version (0.6.5) and this seems to have done the trick. Thanks all!

[2019-04-05 09:43] johnxnguyen commented on #100
Hey @mglass , sorry I have been quite busy at work, but I have the day off today so I'll try to get as much done as I can by the end of the weekend. I'll let you know of course if I need some help 😄

[2019-04-05 17:56] mglass commented on #100
@johnxnguyen I have a fork in place at https://github.com/mglass/Down that merges your branch with the current master, but I am flailing around somewhat blindly with it. Maybe it'll help as a reference point?

[2019-04-05 22:01] JetForMe commented on #131
I'm conflating the Swift 5 compiler version with the selected language dialect. All we need is to use the Swift 5 compiler; we don't need to change the setting inside the Xcode project. So, building from source via Carthage should work just fine, once everything is set up properly.

[2019-04-05 22:01] #131 closed

[2019-04-08 07:40] johnxnguyen commented on #100
@mglass a quick update: I'm re-implementing what I've done for Wire but with some tweaks to make it more flexible. The Wire implementation is quite specific and instead I want to make it simpler for the library user to be able to control how the attributed string is rendered. The idea is use a visitor pattern and a styler protocol. This protocol contains a style method for each markdown element an

[2019-04-08 21:33] johnxnguyen commented on #100
@mglass feel free to have a look https://github.com/iwasrobbed/Down/pull/132. We should probably move the discussion to the PR.

[2019-04-12 06:27] dachev opened #134 "[Documentation] AST API"
Xcode's autocomplete does not work with the AST type. Combined with the lack of documentation, it's hard to tell how ASTs are meant to be used. It would be very helpful to have a short example in the README page.

[2019-04-12 19:02] iwasrobbed commented on #134
Happy to accept pull requests with docs or to roll this into a PR supporting https://github.com/iwasrobbed/Down/pull/132

[2019-04-13 21:34] johnxnguyen commented on #134
I'll document my AST node wrappers and include it in my PR.

[2019-04-21 22:24] #100 closed

[2019-04-21 22:24] #121 closed

[2019-04-21 22:24] #134 closed

[2019-04-21 23:36] iwasrobbed opened #137 "[Docs] Add docs to README for new AST functionality"

[2019-04-22 01:49] iwasrobbed commented on #116
Fixed in https://github.com/iwasrobbed/Down/pull/132

[2019-04-22 01:53] iwasrobbed commented on #106
FYI, you can customize this more using the new AST API: https://github.com/iwasrobbed/Down/pull/132

[2019-04-22 01:55] iwasrobbed commented on #23
Please look into the new AST functionality which will performantly render attributed strings in customized ways: https://github.com/iwasrobbed/Down/pull/132

[2019-04-22 01:55] iwasrobbed commented on #18
Please see the new AST functionality for rendering and customizing attributed strings: https://github.com/iwasrobbed/Down/pull/132

[2019-04-22 01:57] iwasrobbed commented on #21
Please see the new AST functionality for rendering and customizing attributed strings: https://github.com/iwasrobbed/Down/pull/132

[2019-04-22 02:04] iwasrobbed opened #138 "[Attributed Strings] Create default `Styler` for attributed string rendering"
We introduced a new AST renderer in https://github.com/iwasrobbed/Down/pull/132

Next, we should create a default `Styler` which people can easily override so they can get up and running with attributed string rendering

[2019-04-22 19:54] Sethmr opened #139 "0.7.0 problems with NSAttributedString.Key"
I just updated to 0.7.0 and noticed that the NSAttributedStringKey in Styler.swift was not renamed to NSAttributedString.Key. The pod's compile sources claim that Swift 5 is the desired  version of swift, so this would infer that either the compile source is wrong or there is a tiny bug in the SDK. I will go back to the previous version until a new one comes out. Thanks for your time!

[2019-04-22 20:48] phoney commented on #139
Right. That name changed in swift 4.2 so it needs to be updated.

[2019-04-23 00:06] iwasrobbed commented on #139
@Sethmr The [podspec doesn't set a swift version yet](https://github.com/iwasrobbed/Down/blob/master/Down.podspec) so you can do so manually for now in the post install.

It's likely defaulting to whatever your project is set to

[2019-04-23 00:30] phoney commented on #139
Is the intention to support multiple versions of swift or just the latest? That code could be wrapped in #if swift(>= 4.2) to support multiple versions if that's what's desired. The current code though is swift 4.0 I think.

[2019-04-23 00:45] iwasrobbed commented on #139
Correct, it's Swift 4.0 for now. Pods can support Swift versions lower than and independent of the target app itself, so this sounds more like the `swift_version` just needs setting in the podspec and it'll resolve correctly. You can also do it in the post install like I said above as a workaround

[2019-04-24 03:11] #139 closed

[2019-04-24 23:06] iwasrobbed commented on #139
Just an FYI, I re-pushed version `0.7.0` to CocoaPods with this Swift version (`4.0`) set so let me know if you have any other issues

[2019-04-26 22:36] iwasrobbed commented on #139
Updating to Swift 5.0 in https://github.com/iwasrobbed/Down/pull/145

[2019-04-26 22:37] iwasrobbed commented on #131
Updating to Swift 5.0 in https://github.com/iwasrobbed/Down/pull/145

[2019-05-14 15:35] ladislas opened #147 "Pass DownOptions to DownView"
Please help prevent duplicate issues before submitting a new one:

* [x] I've searched other open/closed issues for duplicates before opening up this new issue.

# Report

## What did you do?

I was using Down v0.5.2 that was working great for my use case: a markdown file with a lot of inline html `<span class="myClass"></span>` that I used to render specific words or lines with my custom CSS.

Th

[2019-05-15 01:11] iwasrobbed commented on #147
Hi @ladislas 👋 Correct, the HTML sanitization behavior changed so that it sanitizes HTML by default, so I'd be open to adding a `DownOptions` argument to both the `init` and `update` methods on `DownView`

I'm more than happy to accept a PR for these (thank you for offering), just please be sure to add a quick test in `DownViewTests` so we make sure we don't break this in the future 👍

[2019-05-15 07:40] ladislas commented on #147
Great! Thanks for the quick reply, will do asap! :)

[2019-05-15 14:34] #147 closed

[2019-05-15 15:09] iwasrobbed commented on #147
@ladislas 🚀 Released as v0.8.3, thanks again for raising an issue

[2019-05-15 17:54] ladislas commented on #147
Thanks a lot for merging the changes quickly :)

[2019-05-21 18:58] ksparakis commented on #138
What's the status of this?
:)

[2019-05-21 19:51] iwasrobbed commented on #138
@ksparakis As with all open source work that is provided by volunteers in their free time, the status is "Waiting for someone from the community to lend a helping hand".

There's nothing preventing you from styling the attributed string yourself by conforming some class to `Styler`. This issue is open to provide the community with a default `Styler` implementation that can be easily adjusted, rath

[2019-05-22 08:40] johnxnguyen commented on #138
I am willing to implement this styler and have been thinking a bit about it since finishing https://github.com/iwasrobbed/Down/pull/132. I will finally have some free time this weekend so I'll see how far I get.

[2019-05-22 13:29] rob-keepsafe commented on #138
Thanks for the help, @johnxnguyen ! I'm on paternity leave for a bit, but will be around when I can

[2019-05-22 13:35] iwasrobbed commented on #138
Thanks for the help, @johnxnguyen ! I'm on paternity leave for a bit, but will be around when I can

[2019-05-22 14:01] johnxnguyen commented on #138
Congratulations @iwasrobbed !

[2019-05-31 16:13] ollieatkinson commented on #120
For parties interested, I added the following as an xcconfig parameter to workaround the issue:

[code]

[2019-06-03 21:16] iwasrobbed commented on #61
FYI, this is being done in https://github.com/iwasrobbed/Down/pull/150

[2019-06-03 21:16] iwasrobbed commented on #128
FYI, this is being done in https://github.com/iwasrobbed/Down/pull/150

[2019-06-04 08:03] nfgrilo commented on #120
FTR, I can no longer reproduce this issue since the project I'm working on was upgraded to Swift 5.

[2019-06-04 16:11] iwasrobbed commented on #120
Going to close this out as a Carthage integration detail. If someone has a fix that needs applying within this repo itself, feel free to open a pull request with it. Otherwise, this issue will act as docs for others

[2019-06-04 16:11] #120 closed

[2019-06-09 15:29] mdiep opened #151 "Can't build with Swift 5.1 with SwiftPM"
# Report

## What did you do?

1. Clone Down
2. `xcode-select` Xcode 11 beta 1
3. `swift build`

## What did you expect to happen?

It should build.

## What happened instead?

[code]

This also affects building Down as a SwiftPM package using the new support in Xcode 11.

[2019-06-10 15:36] iwasrobbed commented on #151
Happy to accept a PR for this (as it relates to https://github.com/iwasrobbed/Down/pull/150 by @aasimk2000), but personally not using SwiftPM

**Acceptance criteria**: please no changing cmark source in any way. It needs to either work w/ build settings or SwiftPM won't be supported until that's possible

[2019-06-10 17:25] aasimk2000 commented on #151
Can you output what happens when you run `swift build -v`. I haven't been able to reproduce your error on Xcode 11 beta but did run into the same error when building on Linux.

[2019-06-10 17:33] mdiep commented on #151
I totally understand. I opened it in case anyone watching was interested in fixing it, but I'll definitely try to come back around when I get a chance if no one beats me to it. (And I'm also not sure how to fix this one.)

[code]

[2019-06-11 06:14] aasimk2000 commented on #151
@iwasrobbed one potential fix I found is to move cmark_export.h and cmark_version.h to the include [folder.](https://github.com/aasimk2000/Down/commit/59b48d43a4569e994dcca2528df7f3b13bf5cf18) Would this change  be merged into upstream. I still have to check to see if it maintains compatibility with cocoapods and carthage.

[2019-06-11 17:55] iwasrobbed commented on #151
@aasimk2000 Personally, it feels pretty brittle to have to arbitrarily change directories (and highly doubtful that cmark would want to do that for a random / hard-to-remember-during-updates reason); there's no way to specify these explicitly in the `Package.swift` file like most other package managers?

I'd lean towards removing SwiftPM support if we can't find a way to do this cleanly

[2019-06-11 18:53] aasimk2000 commented on #151
Yup, you are right. I found another way that just require changing `Package.swift`. I'll create a pull request sometime this week.

[2019-06-11 19:16] iwasrobbed commented on #151
Sounds good, thanks again @aasimk2000 💯

[2019-06-12 00:09] mfcollins3 opened #152 "DebugVisitor is missing a public initializer"
Please help prevent duplicate requests before submitting a new one:

* [x] I've searched other open/closed issues for duplicates before opening up this new issue.

# Feature Request

## Is your feature request related to a problem? Please describe.

I was trying to use `DebugVisitor` in my playground and application to see what AST was being generated from a Markdown document. I noticed that while

[2019-06-12 21:41] #152 closed

[2019-06-13 02:05] #151 closed

[2019-06-15 23:16] irskep commented on #138
I started working on one of these without realizing the project needed a contribution and just ran across this issue, so I'm very happy to show you what I have so far with a public domain license: https://gist.github.com/irskep/ab050304371e5730feee7fffea57b389

I'm hitting a snag with list handling, though: it looks like I don't have enough information to figure out what level of nesting the list

[2019-06-16 01:05] irskep commented on #138
Chased it down some more. Lists in NSAttributedString seem extremely tricky and will probably need much more sophisticated handling than the visitor is doing right now.

See the comment on this article from last year https://www.meandmark.com/blog/2016/12/adding-markers-to-text-lists-when-pressing-the-return-key/

[2019-06-17 07:36] johnxnguyen commented on #138
@irskep indeed I've also found from previous experience that formatting the lists are by far the hardest part. As you've alluded to, we need to be able to handle an arbitrary nesting depth, but care should also be taken so that the paragraph styles are applied correctly and that there are not overlapping and conflicting paragraph styles.

In regards to determining the nesting depth, I think it wou

[2019-06-24 14:33] NicolasLourenco commented on #138
I'm facing the same issue for formatting the lists with different level of imbrication. @johnxnguyen did you have more informations since the last week about that?

[2019-06-24 14:58] johnxnguyen commented on #138
@NicolasLourenco I spent the weekend trying to tackle this problem and I believe I've made some good progress.

Firstly, there are a few things we need to consider when formatting nested lists with `NSParagraphStyle`:

1. Paragraph styles should be applied over paragraphs, (obvious I know, but you get all sorts of unexpected issues when your paragraphs are only partially applied).
2. There should

[2019-06-27 02:28] TheMoon2000 opened #158 ".toAttributedString stylesheet parameter"
The README only briefly mentions the 'stylesheet:' property (type: String?) as a parameter in .toAttributedString() call. However, the syntax for such a stylesheet is very vague.

 This is the only line of text that talks about the 'stylesheet:' parameter. Can you give me some examples of what the stylesheet can be? Does it follow CSS format?

[2019-06-27 06:57] johnxnguyen commented on #138
I've pushed my local branch to `feature/default-styler` for anyone interested. It's a work in progress of course, but the list formatting is working nicely.

[2019-06-27 06:58] NicolasLourenco commented on #138
Thank you @johnxnguyen, I will take a look

[2019-06-27 07:40] NicolasLourenco commented on #158
Hello,
For example:
[code]

[2019-06-28 03:48] ykphuah commented on #138
I gave it a spin, it looks really good! However, I wanted to make the overall fonts smaller, and I realize that I can't override the FontBook. I tried to just move the whole DefaultStyler and FontBook class into my project, but then it is using some extensions that is not public.

Do you mean for the DefaultStyler to be copy pasted? or subclassed? or configured (e.g. passing in a Fontbook when con

[2019-06-28 06:55] johnxnguyen commented on #138
@ykphuah yeah I have been focusing on the list formatting and there's a lot of changes still to be made.

The idea with the font book is to allow the Styler to accept various font generating sources, so you could create a font book with explicit fonts and sizes, or you can use a font book that uses dynamic type, or any other way you might get your fonts.

I will make the default Styler open to sub

[2019-06-28 08:00] ykphuah commented on #138
@johnxnguyen  thanks for the good work. I have grown to like the smaller overall size text and also no spacing between paragraph/lists of MarkdownKit, so these are the two that I would need to "customize" before migrating to this.

[2019-07-08 16:03] hbowie opened #159 "Update Options to support Unsafe Rendering"
Safe rendering is now the default. In order to have embedded HTML rendered, unsafe rendering needs to be specified as an Option.

[2019-07-11 15:08] iwasrobbed commented on #159
Closed in #160

[2019-07-11 15:08] #159 closed

[2019-07-11 15:09] iwasrobbed commented on #158
Thanks @NicolasLourenco 👍 Going to close this one, but feel free to open a PR if you'd like to add documentation to the readme or code

[2019-07-11 15:09] #158 closed

[2019-07-14 08:34] Orion98MC commented on #138
Hi there,

I'm working on an iOS app, written in Swift, that needs a "Help System" much like in macOS Apps where the user can browse different subjects etc... The solution I came with is a Wiki kind of help system. And quite naturally I wanted to use a Markdown library to help the designing of the contents (pages). I also added a macOS target that allows viewing and in place editing of the Wiki co

[2019-07-14 08:56] johnxnguyen commented on #138
Hi @Orion98MC , the default styler is still a work in progress, but it is in a working state so you are welcome to check out `feature/default-styler` and play around with image loading. I plan to finish the styler within the next four weeks.

Personally I haven't used `Down` to display images, but it shouldn't be too hard. Thinking about it now, the `AttributedStringVisitor` may need modification.

[2019-07-15 11:27] spicymatt commented on #138
Hello. Is the support for dark mode a task for the Styler ?
Thanks and regards
matthieu

[2019-07-15 11:35] johnxnguyen commented on #138
@spicymatt yes. The idea is to have a protocol that encapsulates specifying colors to be used by the styler. A concrete implementation of the protocol could then consider light and dark modes.

[2019-07-20 15:03] michaelgmcd opened #162 "XCode Beta 4 Build Error"
Please help prevent duplicate issues before submitting a new one:

* [X] I've searched other open/closed issues for duplicates before opening up this new issue.

When building with XCode Beta 4, Down (installed via CocoaPods) fails to build with the following error:
[code]

This issue was also posted by someone else on [Stack Overflow](https://stackoverflow.com/questions/57089656/xcode-11-beta-4-b

[2019-07-22 14:39] mglass commented on #162
Commenting out this line in the Down.podspec file: `spec.compiler_flags = '-Wno-shorten-64-to-32'` worked for me, at least for now. No promises that there aren't any side effects though. I have a local version of the pod for various reasons, so this was fairly simple for me to do; your results may vary, but it will get you up and running again for the time being.

[2019-07-22 20:02] mglass commented on #138
@johnxnguyen I put what I'm using for image support into a PR for you. Fairly basic, and iOS only, but it handles animated gifs as well. #163

[2019-07-23 23:28] barrypress commented on #162
I verified this happens with a clean iOS project, no content other than pod install of Down. I filed a bugrep with Apple.

I lack the understanding to know how to use the info of commenting out the link in the podspec, as I can't find a podspec file on the computer (did find podspec.json), and even then don't know how to make an edit take effect, so I can't verify the comment above works.

I do ha

[2019-07-23 23:43] iwasrobbed commented on #162
Thanks for filing an issue, but this is best for StackOverflow since it's not specific to `Down`. There is already an existing answer that's linked to the original StackOverflow question: https://stackoverflow.com/questions/57085119/xcode-11-beta-4-error-command-compileswiftsources-failed-with-a-nonzero-exit-co

[2019-07-23 23:43] #162 closed

[2019-07-23 23:45] iwasrobbed commented on #138
Hi all 👋 Just a reminder: Let's please keep this issue's conversation focused around implementing a styler default. Anything else, please file a separate issue or just an open a PR and tag one of us to review. Thanks!

[2019-07-24 00:13] barrypress commented on #162
What I think is true is that

The podspec icludes no-shorten-64-to-32
But no-shorten-64-to-32 is apparently not a legal argument (any longer?)

If you look at.https://github.com/CocoaPods/CocoaPods/pull/9014#issuecomment-514427122  <https://github.com/CocoaPods/CocoaPods/pull/9014#issuecomment-514427122>it's apparent that what cocoapods fixed isn’t this problem, and indeed I suspect if you were ta

[2019-07-24 01:31] mglass commented on #162
The linked SO post does not actually apply here; I tried it before digging in further and it didn't resolve the issue.

[2019-07-24 04:53] lilyball commented on #162
It's not that it's not legal anymore, it's that it was never legal for Swift files but Xcode prior to Xcode 11 beta 4 didn't pass per-file compilation flags to `swiftc` (and per-file compilation flags is apparently how CocoaPods was defining these flags).

[2019-07-24 07:44] johnxnguyen opened #164 "Adding a snapshot test framework"
Please help prevent duplicate requests before submitting a new one:

* [x] I've searched other open/closed issues for duplicates before opening up this new issue.

# Feature Request

## Is your feature request related to a problem? Please describe.

The problem I'm having whilst implementing the default styler is how to write clean and concise tests for various formatting scenarios (in particular

[2019-07-24 07:44] johnxnguyen opened #165 "[Testing] Adding a snapshot testing framework"
Please help prevent duplicate requests before submitting a new one:

* [x] I've searched other open/closed issues for duplicates before opening up this new issue.

# Feature Request

## Is your feature request related to a problem? Please describe.

The problem I'm having whilst implementing the default styler is how to write clean and concise tests for various formatting scenarios (in particular

[2019-07-25 14:59] iwasrobbed commented on #165
I'm 👍 with adding any testing frameworks necessary for proper coverage as long as we keep things simple. Thanks for raising the issue @johnxnguyen

[2019-07-25 15:00] iwasrobbed commented on #164
Closing as a dupe of #165

[2019-07-25 15:00] #164 closed

[2019-07-25 15:03] iwasrobbed commented on #162
Happy to accept a PR for this; it will likely just introduce a few warnings in the underlying c code

[2019-07-25 21:15] cliftonlabrum opened #167 "Help: Get Raw String without Markdown"
There are cases where I want to allow the user to enter Markdown, but I want to be able to render what they've typed **_without_** the Markdown in it. For example, imagine a table list of emails where a couple lines of preview text are shown, or in a push notification... seeing `**stuff**` in that context looks weird.

Is there a way to parse the Markdown string into a raw string without any of th

[2019-07-25 22:39] iwasrobbed commented on #167
Hi @cliftonlabrum 👋 That use case is outside the scope of Down, but you can try rendering it to an [attributed string and then calling `.string` on it](https://developer.apple.com/documentation/foundation/nsattributedstring/1412616-string)

[2019-07-25 22:39] #167 closed

[2019-07-25 23:21] cliftonlabrum commented on #167
Ah, that's a great idea! Thank you! 🙏🏼

[2019-07-26 00:38] cliftonlabrum opened #168 "Help: Set Default Font"
I've been searching through the documentation and the issues, and I don't see a clear way to set the default font for the entire `NSAttributedString`. If you apply the font as an attribute after Down renders the string, it will overwrite all the other attributes.

Is there a way to set a default font and then have Down render the rest of the string as it should (bold, italic, etc.?

I see the `Sty

[2019-07-26 00:50] iwasrobbed commented on #168
Does this work for you?

https://github.com/iwasrobbed/Down#parsing-api

[2019-07-26 02:45] cliftonlabrum commented on #168
That's interesting. What kind of `String` does the `stylesheet` parameter take?

Does it use raw CSS properties like:
[code]
Or does it take a full CSS file in the form of a `String` like:
[code]
Thanks!

[2019-07-26 05:59] freshking commented on #168
Something like this (taken from `DownAttributedStringRenderable.swift`):

[code]

[2019-07-26 17:38] cliftonlabrum commented on #168
Ah, okay. Makes sense. Thank you!

[2019-07-26 17:38] #168 closed

[2019-07-26 20:33] johnxnguyen commented on #165
Damn, so it turns out that [swift snapshot testing](https://github.com/pointfreeco/swift-snapshot-testing#installation) has a minimum iOS deployment target of 10.0, where as Down is compiling for iOS 9.

One workaround is to bump the minimum iOS version to 10.0 for the test target only. I think I'll do this unless you have any objections.

[2019-07-26 21:55] iwasrobbed commented on #165
Go for it 👍 Test target can be anything, it's just the built target we try and back support

[2019-08-03 00:43] ykphuah commented on #162
The workaround is not working, created a pull request:
https://github.com/iwasrobbed/Down/pull/170

[2019-08-18 07:32] TheMoon2000 opened #171 "Framework crashes when converting to NSAttributedString"
Please help prevent duplicate issues before submitting a new one:

* [x] I've searched other open/closed issues for duplicates before opening up this new issue.

# Report

## What did you do?

I tried to render a particular string using this markdown library and my program crashed right away:
[code]

## What did you expect to happen?

Of course, I expected no error to occur. The attributed string

[2019-08-21 19:13] LeoGloold opened #173 "Support for local images"
I can't seem to get images that are stored locally in the app bundle to load in markdown. I've tried:
[code]
And:
[code]

[2019-08-21 22:44] iwasrobbed commented on #173
Hi there 👋 Please follow the issue template next time; you seem to have skipped this step:

That would lead you to: https://github.com/iwasrobbed/Down/issues/40

Thanks.

[2019-08-21 22:44] #173 closed

[2019-09-06 10:00] goelay opened #174 "GIFF Support"
Giff file not playing? Any idea on how to play it.

[2019-09-06 11:09] iwasrobbed commented on #171
Hi there 👋 I was unable to repro in the example app. Looks like you found the real issue which is `NSAttributedString`s don't render HTML on background threads. Please use the other background-safe API if that's needed https://github.com/iwasrobbed/Down/blob/master/Source/Renderers/DownAttributedStringRenderable.swift#L47

`NSAttributedString` docs: https://developer.apple.com/documentation/founda

[2019-09-06 11:09] #171 closed

[2019-09-06 11:26] iwasrobbed commented on #174
Image support works fine. You can see that in the example app. Please investigate this more thoroughly next time prior to opening an issue for it.

If you're trying to load local image files, see #40

![gif](https://user-images.githubusercontent.com/317671/64424618-8dc9a980-d077-11e9-82e7-1e31d3c8bfae.gif)

[2019-09-06 11:26] #174 closed

[2019-09-09 19:23] tsfischer commented on #138
Is there any active work still being done on the default styler since the above comments?

This library, using the standard toAttributedString() method, gets us very close to what we need, but I need to be able to override default text colors, font sizes, etc. The stylesheet isn't workable as it doesn't support switching between light and dark mode, and indeed currently doesn't appear to support d

[2019-09-09 19:46] johnxnguyen commented on #138
Hi @tsfischer , I've gotten the implementation to an almost finished state, after working on it quite regularly in the last month or so. I wanted to open a PR in the last weeks but have been on holiday (just got back today) and couldn't find the time unfortunately. I need to add some documentation  and do a final look through to clean up loose threads, but I reckon I can get that done in the next

[2019-09-10 04:26] rubensantiago opened #175 "Error: 'cmark_export.h' file not found with <angled> include; use "quotes" instead"
# Report
Manually changing these brackets to quotes does indeed fix this issue, but updating the pod will revert the manual changes made.

Unfortunately, this is not tenable on a build server that downloads fresh copies of dependencies periodically.

## What did you do?

pod install

## What did you expect to happen?

Compile without modifying the source code

## What happened instead?

`Error: 'c

[2019-09-10 20:31] tsfischer commented on #138
Thanks for the reply. We're currently using TSMarkdown but are having some issues and it doesn't appear to be very supported anymore. Down looked promising, but the HTML-to-NSAttributed workflow is slow and things need to be specified by CSS which causes problems with things like dynamic colors and switching between light/dark mode (as well as being clunky for a native app dev like myself to work

[2019-09-11 13:30] cpvbruno opened #176 "Can I create a Styler without having to implement everything again?"
Hi, I need to customise a specific part of my markdown string, can I customise just it in some way? Or do I need to create a styler and implement the entire protocol?

Also I think I can't use CSS.

Basically what I need is when I have a list that starts with "+" instead of "*" I need to put a different list style with a specific image

[2019-09-11 16:15] cpvbruno commented on #176
It’s a behavior specifically for my company project, they use the “+” and “-“ to create a “ pro and cons” list, putting an image for each of case... so basically a bullet list with special bullets

[2019-09-11 18:07] johnxnguyen commented on #176
If you're only concerned with lists and no other markdown, you could forego the use of `Down` completely. Instead you could...

1. parse the block of text, splitting it up into the different pro and con items,
2. build an attributed string, prepending each item with a text attachment to hold the appropriate image, and
3. adjust the paragraph styles of the attributed string so that it looks like a

[2019-09-11 19:28] johnxnguyen commented on #138
I've opened a draft PR https://github.com/iwasrobbed/Down/pull/177 for anyone interested.

[2019-09-19 11:32] twi123 commented on #138
Guys, is there any thoughts about migrate whole thing to `cmark-gfm` (for supporting of strikethrough and tables)?

@tsfischer image support is possible via something like AsyncTextAttachment... But tables... Without core (cmark) changes i think its just impossible (

[2019-09-19 12:06] iwasrobbed commented on #138
Hi @twi123 👋 Please keep the conversation focused on the `Styler` protocol within Down.

- cmark-gfm is Github-flavored markdown, not the CommonMark standard. You're welcome to use the fork here: https://github.com/mknabe/Down-gfm
- I believe you mean `NSTextAttachment`

[2019-09-19 12:08] iwasrobbed commented on #165
Closed via #177

[2019-09-19 12:08] #165 closed

[2019-09-19 12:09] iwasrobbed commented on #175
Hi @rubensantiago 👋 We'll need a bit more info please: Xcode version, CocoaPods version, Down version at a minimum

A sample project repro'ing this (or repro'ing it with the `Example` app included in the repo) is great appreciated.

Thanks!

[2019-09-19 14:22] twi123 commented on #138
@iwasrobbed thanks for link to `Down-gfm` fork!
No, i mean extension of `NSTextAttachment` like this [AsyncTextAttachment](https://github.com/Cocoanetics/Swift-Examples/blob/master/Attachments/Attachments/AsyncTextAttachment.swift)

[2019-09-22 11:56] goelay opened #178 "Update Framework with Swift 5.1"
Please help prevent duplicate requests before submitting a new one:

* [ ] I've searched other open/closed issues for duplicates before opening up this new issue.

# Feature Request

## Is your feature request related to a problem? Please describe.

ℹ A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

## Describe the solution you'd like

ℹ A clear and con

[2019-10-02 16:19] tikekar opened #179 "Please add Styler example in the documentation"
Please help prevent duplicate requests before submitting a new one:

* [ X] I've searched other open/closed issues for duplicates before opening up this new issue.

# Feature Request
Please add Styler example in the documentation
## Is your feature request related to a problem? Please describe.
We use custom fonts and somehow if I use down.toAttributedString() all my bold, italics etc do not work.

[2019-10-04 20:16] iwasrobbed commented on #175
Going to close this out since we have not received any follow up information.

[2019-10-04 20:16] #175 closed

[2019-10-04 20:17] iwasrobbed commented on #179
Hi @tikekar 👋  This should be closed via https://github.com/iwasrobbed/Down/pull/177

[2019-10-04 20:21] iwasrobbed commented on #100
FYI: this has been further improved with a default `Styler` via https://github.com/iwasrobbed/Down/pull/177

[2019-10-04 20:21] iwasrobbed commented on #121
FYI: this has been further improved with a default `Styler` via https://github.com/iwasrobbed/Down/pull/177

[2019-10-04 20:24] iwasrobbed commented on #90
FYI: this is now possible via the default `Styler` via https://github.com/iwasrobbed/Down/pull/177

[2019-10-04 20:25] iwasrobbed commented on #106
FYI: this is further possible via the default `Styler` via https://github.com/iwasrobbed/Down/pull/177

[2019-10-04 20:25] iwasrobbed commented on #116
FYI: this is further possible via the default `Styler` via https://github.com/iwasrobbed/Down/pull/177

[2019-10-04 20:25] iwasrobbed commented on #168
FYI: this is further possible via the default `Styler` via https://github.com/iwasrobbed/Down/pull/177

[2019-10-06 06:52] #138 closed

[2019-10-06 06:52] #179 closed

[2019-10-06 22:41] iwasrobbed commented on #178
I'm happy to accept a pull request with these minor changes @goelay

[2019-10-06 22:43] #105 closed

[2019-10-06 22:44] iwasrobbed commented on #93
Going to close this out as it hasn't garnered much attention from the community in terms of up votes over the past year. Feel free to open a PR with these changes if you'd like it added

[2019-10-06 22:44] #93 closed

[2019-10-15 20:29] marwakharbech opened #180 "incorrect parse for string that is a mixture of markdown and html"
Please help prevent duplicate issues before submitting a new one:

* [x] I've searched other open/closed issues for duplicates before opening up this new issue.

# Report
A string that has both markdown and html in it, isn't parsed correctly. the markdown was ignored.
## What did you do?

ℹ
`
let myText = "#Taxation   \n  <br \/><img style=\"width: 100%;\" src=\"https:\/\/somewebsite.com\/img\/25\

[2019-10-16 13:45] iwasrobbed commented on #180
Hi @marwakharbech 👋  If you feel there's a rendering error in `cmark` (the rendering engine used), please file it in the upstream repo: https://github.com/commonmark/cmark/issues

We're happy to update here once it's resolved. Thanks!

[2019-10-16 13:45] #180 closed

[2019-10-18 21:11] zhuravel-sergey opened #182 "How to change text color?"
Please help prevent duplicate issues before submitting a new one:

* [x] I've searched other open/closed issues for duplicates before opening up this new issue.

# Report

## What did you do?

ℹ Please replace this with what you did.

## What did you expect to happen?

ℹ Please replace this with what you expected to happen.

## What happened instead?

ℹ Please replace this with what happened inste

[2019-10-19 14:50] fdddf opened #183 "Table are not render"
Please help prevent duplicate issues before submitting a new one:

* [ ] I've searched other open/closed issues for duplicates before opening up this new issue.

# Report

## What did you do?

sample code:
[code]

## What did you expect to happen?

render the table correctly

## What happened instead?

showing the original code

[2019-10-19 14:54] #183 closed

[2019-10-19 14:54] iwasrobbed commented on #183
Please don't waste others' time by not searching existing issues. That's why the checkbox is there in every issue template (which you did not check)

https://github.com/iwasrobbed/Down/issues/36

[2019-10-19 14:55] iwasrobbed commented on #182
Feel free to open a pull request making that public

[2019-10-22 14:17] iwasrobbed commented on #182
Closed via https://github.com/iwasrobbed/Down/pull/184

[2019-10-22 14:17] #182 closed

[2019-10-27 08:37] sirily11 opened #185 "Issue with markdown render/convert to attribute string on macOS latest version"
Cannot use the either down.toAttributedString() and DownView on MacOS.  The error was shown when using down.toAttributedString()
<img width="1231" alt="截屏2019-10-27上午3 33 30" src="https://user-images.githubusercontent.com/32106111/67631917-9d40c400-f86a-11e9-929e-4435f3f12300.png">
And following error was thrown when using DownView
<img width="1389" alt="截屏2019-10-27上午3 35 52" src="https://user-im

[2019-10-28 00:23] sirily11 commented on #185
This also happens when using it in ios project

[2019-10-28 04:05] sirily11 commented on #185
Ok. I got the solution. If you are using SwiftUI and bind this view using UIViewRepresentable or NSViewRepresentable, then toNSAttributedString should be running inside DispatchQueue.main.async. Otherwise, it will throw an error. I don't know the reason.

[2019-10-28 04:06] #185 closed

[2019-10-28 11:34] rob-keepsafe commented on #185
Because UIKit doesn't work on background threads. This isn't just for SwiftUI, but iOS in general.

[2019-10-29 22:40] codyaweber opened #186 "Is the text supposed to be rendering this large?"
* [x] I've searched other open/closed issues for duplicates before opening up this new issue.

# Report

## What did you do?

Tried rendering README.md (copied straight from [raw](https://raw.githubusercontent.com/iwasrobbed/Down/master/README.md))

[code]

## What did you expect to happen?

The DownView to render as shown in the README.md:

<img src="https://user-images.githubusercontent.com/1132

[2019-10-30 21:49] smittytone commented on #186
Another questioner, same question!

[2019-10-31 23:07] deathByLiche opened #187 "App using xcframework with Down pod dependency causes crash"
Please help prevent duplicate issues before submitting a new one:

* [x] I've searched other open/closed issues for duplicates before opening up this new issue.

# Report

## What did you do?

I created an xcframework that has a dependency on Down, then integrated the framework into an app that pulls Down in via Cocoapods.

## What did you expect to happen?

I expected to be able to call methods f

[2019-11-01 03:30] iwasrobbed commented on #187
Apologies @deathByLiche, but this is not the place for help debugging your setup. StackOverflow is a much better forum for that.

[2019-11-01 03:30] #187 closed

[2019-11-01 03:44] iwasrobbed commented on #186
You can inject your own CSS to change font size using a custom bundle: https://github.com/iwasrobbed/Down/blob/master/Source/Views/DownView.swift#L27

You can see what `DownView` uses in the `DownView.bundle/css` folder and just modify the line around `font-size:1.5em;line-height:1.6`

[2019-11-01 03:44] #186 closed

[2019-11-18 07:02] zhifeng-huang opened #190 "Down cannot convert this markdown string to html"
This is the string:

`Test**. &nbsp;This is bold**. This is normal_&nbsp; Italics_. Normal again.`

When I try to convert it to HTML by using Down, it gives me this:

`<p>Test**.  This is bold**. This is normal_  Italics_. Normal again.</p>`

It cannot recognize ** and _ .

[2019-11-18 15:47] iwasrobbed commented on #190
That's probably because it's not valid Common Markdown. Please [read the documentation](https://spec.commonmark.org/0.29/#emphasis-and-strong-emphasis) and try it for yourself https://spec.commonmark.org/dingus

If you feel there's a mistake, you're welcome to open a ticket in the upstream [cmark repo](https://github.com/commonmark/cmark)

[2019-11-18 15:47] #190 closed

[2019-11-21 12:53] nselvapandian commented on #168
let defaultStylesheet = "* {font-family: SFProDisplay-Semibold; font-size: 15px}"

Is this the correct format to set system font? Can someone guide me?

[2019-11-25 19:01] gsbernstein opened #191 "Regression: single newline syntax not working (any variety)"
Please help prevent duplicate issues before submitting a new one:

* [x] I've searched other open/closed issues for duplicates before opening up this new issue.

# Report

## What did you do?

Upgraded from 0.6.2 to 0.9.0

## What did you expect to happen?

No breaking changes

## What happened instead?

Newline syntax stopped working:

0.9.0 | 0.6.2
--- | ---
![Simulator Screen Shot - iPhone 11 P

[2019-11-25 19:01] gsbernstein commented on #191
@ericgroom

[2019-11-25 20:11] ericgroom commented on #191
To add some extra context, we are using css styling and converting to an attributed string. Within the string displayed, we had been using `<br />` to create a newline as seen in the photo, but this no longer seems to work on the latest version.

[2019-12-08 00:26] iwasrobbed commented on #191
If you're using CSS styling, then it sounds like you're also using the WebKit API for rendering of the HTML. There's not a whole lot Down can do about how WebKit renders things.

You're welcome to switch to the new attributed string APIs and you'll have much more control over rendering that way, in addition to performing background rendering.

e.g. https://github.com/iwasrobbed/Down/blob/master/So

[2019-12-08 00:26] #191 closed

[2019-12-16 17:21] BenjiMandel opened #194 "Swift Packege maneger?"
Hi,
I was looking for a good Markdown parser for ios using swift, and I got recommended your project, Down.
Does your project support SwiftPackageManeger? or only manual, Carthage and cocoa pods?

thanks,
Benji

[2019-12-16 21:15] unnamedd commented on #194
Hi @BenjiMandel,

try to follow this article here:
https://developer.apple.com/documentation/xcode/adding_package_dependencies_to_your_app

using this URL:
https://github.com/iwasrobbed/Down.git

then, you should be able to add Down to your project.

[2019-12-16 22:04] BenjiMandel commented on #194
Hi
Thx for the reply!!
Will do that!!!!
I had a lot!
Regards,
Benji

[2019-12-16 22:21] unnamedd commented on #194
Good luck and if you need anything else, call us here! ;)

[2019-12-17 22:05] unnamedd commented on #194
@iwasrobbed I guess you can close this issue here. ;D

[2019-12-18 01:09] iwasrobbed commented on #194
Thanks for helping here @unnamedd 👍

[2019-12-18 01:09] #194 closed

[2019-12-28 05:17] vinamelody opened #195 "Any emoji support?"
Please help prevent duplicate requests before submitting a new one:

* [x] I've searched other open/closed issues for duplicates before opening up this new issue.

# Feature Request

## Is your feature request related to a problem? Please describe.

No, but I'd like to know if there's support for emoji :)

[2019-12-28 15:26] rob-keepsafe commented on #195
Did you try it before posting an issue?

[2020-01-03 17:37] daikini opened #196 "'BaseNode' initializer is inaccessible due to 'internal' protection level"
Please help prevent duplicate issues before submitting a new one:

* [x ] I've searched other open/closed issues for duplicates before opening up this new issue.

# Report

Swift requires that struct initializers be made public when used outside the module they are declared in. This is required even if the struct itself has been made public.

## What did you do?

Tried to initialize the Document s

[2020-01-03 20:24] #195 closed

[2020-01-04 23:28] daikini commented on #196
As @johnxnguyen noted [here](https://github.com/iwasrobbed/Down/pull/197#issuecomment-570816076) it is possible to get a reference to the `Document` by doing something like:

[code]

[2020-01-04 23:28] #196 closed

[2020-01-23 18:41] brunnobraga opened #198 "[Feature] Local images not accessible from WKWebView"
Please help prevent duplicate issues before submitting a new one:

* [x] I've searched other open/closed issues for duplicates before opening up this new issue.
I've looked into #40 , but it covers only local images bundled with the app.

# Report

## What did you do?

I'm using `DownView(frame: .zero, markdownString: markdown, templateBundle: bundle)` and in this case `bundle` points to a folder

[2020-01-24 05:08] rob-keepsafe commented on #198
Feel free to open a pull request as long as it's backwards compatible with the existing API

[2020-01-25 21:45] christophschnabl opened #199 "Swift UI Support"
* [x] I've searched other open/closed issues for duplicates before opening up this new issue.

# Feature Request

e.g. by providing an example on how to use with SwiftUI

[2020-02-14 15:50] brunnobga commented on #198
Created #200 for this.

[2020-02-24 16:26] vzsg opened #201 "Release fixes made after 0.9.0"
* [x] I've searched other open/closed issues for duplicates before opening up this new issue.

# Report

Please make a new release from the master branch to make important fixes to the Styler available, or list any factors that might be hindering that release.

## What did you do?

Installed the most recently available version of Down in my project via CocoaPods.

## What did you expect to happen?

[2020-02-24 18:46] rob-keepsafe commented on #201
Hi @vzsg 👋 You can just point to a specific branch instead; I don't plan on cutting a release for the time being

More info https://stackoverflow.com/a/39930762/308315

[2020-02-24 18:46] #201 closed

[2020-02-24 19:42] iwasrobbed commented on #199
`DownView` is just a `WKWebView` subclass, so you should be able to find information on how to use that with SwiftUI on stackoverflow, etc.

[2020-02-24 19:42] #199 closed

[2020-02-24 22:38] vzsg commented on #201
Thanks for the notice. Out of desperation, that's what I've done before writing the issue.

It's a pity though. Even if CP locks against a commit hash, a proper release would be easier to reason about.

[2020-02-26 21:25] stevebaranski opened #202 "SwiftPM : Resolve apparent version incompatibility with swift-snapshot-testing"
* [X] I've searched other open/closed issues for duplicates before opening up this new issue.

# Report

## What did you do?

1. I cloned the `Down` repository.
1. From the root of the directory of this cloned repository, I opened the workspace by issuing this command: `xed .`
1. I attempted to build the project.

## What did you expect to happen?

For an iOS device target, I expected the library

[2020-02-27 05:23] iwasrobbed commented on #202
@stevebaranski I'd be okay with bumping support to iOS 10+ and will happily accept any PRs against that if you have the time to test and make sure it resolves it for you. Anyone needing support for earlier OS versions can easily do so

[2020-02-27 05:24] iwasrobbed commented on #202
Thanks for the very detailed issue by the way, it's refreshing 💯

[2020-02-28 03:42] stevebaranski commented on #202
@iwasrobbed Upon further investigation, I noted that some of the files specified in the `testTarget` of `Package.swift` included those that imported `SnapshotTesting`. Excluding those files appeased SwiftPM, **without** requiring an update to the minimum deployment targets.

I expressed #203 for your consideration.

No problem - thanks for your continued stewardship of `Down`!

[2020-02-28 05:19] iwasrobbed commented on #202
Closed via #203

[2020-02-28 05:19] #202 closed

[2020-03-03 20:04] iwasrobbed opened #205 "[CodeCoverage] Improve accuracy for combined code coverage reporting"
## Issue

Currently we have two different sets of tests that run:
- Snapshot tests that capture UI for the attributed string tests
- Unit tests that run against the core functionality (not just attributed strings)

Combined, these two test bundles cover a large % of the project, but that is not being accurately reported right now.

## Suggested Solution

We need to ensure [CodeCov is combining the

[2020-03-03 20:05] iwasrobbed commented on #178
Closed via #204

[2020-03-03 20:05] #178 closed

[2020-03-10 21:07] Sethmr opened #206 "Cocoapod version 0.9.2 not available."
I am unable to update to a pod version above 0.9 even though they are visible on the release page.

[2020-03-10 21:27] rob-keepsafe commented on #206
Thanks for the reminder, I was waiting on the CocoaPods team to switch over my email addresses so I could publish the release

Should be good now 👍 (in a few mins once it refreshes)

[2020-03-10 21:27] #206 closed

[2020-04-24 16:16] jacobsokora opened #208 "Build fails for mac catalyst"
# Report

## What did you do?

I compiled an application with mac catalyst enabled

## What did you expect to happen?

I expect my application to build

## What happened instead?

When compiling the app for iOS, it works fine, but when I compile for mac (or archive) I get a swift compiler error "No such module 'Down'". I have it installed manually, in Xcode 11.3

[2020-04-24 23:52] iwasrobbed commented on #208
Hi @jacobsokora 👋

I always welcome pull requests for new features / compatibilities. I won't be using Catalyst myself anytime soon so I'm leaving this up to the community (you + others) to add support for if needed

[2020-04-25 00:11] #198 closed

[2020-04-27 22:55] SwiftDevJournal opened #209 "Unable to build Swift package in Xcode 11.4.1"
Please help prevent duplicate issues before submitting a new one:

* [X] I've searched other open/closed issues for duplicates before opening up this new issue.

# Report

## What did you do?

1. Add Down to Swift Packages for Mac Cocoa app project with Xcode 11.4.1.
2. Use master branch as the rule for the Swift package.
3. Build the project.

## What did you expect to happen?

I expected the pac

[2020-05-11 23:36] slashlos opened #210 "hard blank line insertion after list"
Tried various encodings to feature a separating blank line after a bullet list, so the next paragraph is not immediately after the list; tried all sorts of remedies here:
[
Create two blank lines in Markdown - Stack Overflowstackoverflow.com › questions › create-two-blank-lines...](https://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=web&cd=2&cad=rja&uact=8&ved=2ahUKEwihrZaL-azpAhXooHIEHUAeAWEQF

[2020-05-12 01:37] rob-keepsafe commented on #210
Hi @slashlos 👋 [Please file in `cmark`'s repo](https://github.com/commonmark/cmark) which is the Markdown engine running within Down and feel free to let us know once/if it's resolved. All of this is based upon the CommonMark standard so if it's part of the standard, then it should work; else, you can ask for it to be part of the standard.

[2020-05-12 01:37] #210 closed

[2020-05-13 00:37] slashlos commented on #210
That’s a “bug” database as it was summarily closed, and I get that, but the pkg is not performing as native md; it’s why I filed here. If there’s a recipe or how to, throat would be great. There is no where else to go aside from adopting an alternative. Too bad

[2020-05-13 02:24] iwasrobbed commented on #210
As was stated, Down is just Swift bindings for the underlying `cmark` library (one of many bindings in many languages) and is based on the CommonMark standard. If there's a bug in the bindings, feel free to file one. Otherwise, please direct bugs to the underlying lib (cmark).

And as with any open source code, it's not just the maintainer's responsibility to fix everything at someone else's direc

[2020-05-13 07:44] Luten commented on #209
Got the same error while copying sources of Down lib inside my project and trying to build it.
Xcode 11.4.1

Fixed it by adding `#include <references.h>` in inlines.h
But after that got bunch of errors:
[code]

[2020-05-13 08:17] Luten opened #211 "Can't build with copied sources"
Please help prevent duplicate issues before submitting a new one:

* [x] I've searched other open/closed issues for duplicates before opening up this new issue.
Presumably similar or somewhat connected issues I've found:
  * #120 [Carthage] Missing required module 'libcmark'
  * #209 Unable to build Swift package in Xcode 11.4.1

# Report

## What did you do?

1. Copied contents of `Down/Source` i

[2020-05-13 08:52] Luten commented on #211
Looks like `libcmark` module is used to import c code in swift, so removing import was a wrong way.

Then the problem is `No such module 'libcmark'`

[2020-05-13 13:54] Luten commented on #211
Found that path to libcmark module.modulemap should be added to Swift Compiler - Import Paths.
Now receiving a lot of `Could not build module 'Foundation'` errors.
I suggest there is some importing loop there

[2020-05-21 10:11] Luten commented on #211
Finally I've built it.
Can't say exactly what caused the problem, feels like some Xcode cache or bug resolved itself on 50th try of the settings that should work
Mostly I did what all guides say:

* Add C sources
* Create modulemap (cmark/include/module.modulemap)

In Podspec:
* `spec.source_files` - add sources
* `spec.preservepath` - add modulemap and .inc files
* `spec.pod_target_xcconfig` - ad

[2020-05-21 10:11] #211 closed

[2020-05-21 14:44] rob-keepsafe commented on #211
I'm a bit confused @Luten ; are you integrating it via pods or manually?

[2020-05-21 14:53] rob-keepsafe commented on #209
Hi there 👋 I don't use Swift PM but feel free to open a pull request if you have fixes and improvements to that build process

[2020-05-29 09:26] ealymbaev opened #213 "Make BaseNode constructor public"
I am trying to use my own custom `Visitor`.

I am using the same way as in `DownAttributedStringRenderable`:

[code]

But `Document` initializer (actually `BaseNode` initializer) is not `public` and I am not able to create `Document` outside the library.

[2020-05-29 09:34] johnxnguyen commented on #213
Hi @ealymbaev 👋 This has been brought up a few times already. Please see https://github.com/iwasrobbed/Down/pull/212

Indeed there is a lack of documentation that would regarding the AST, if I can find some free time I would like to fix that.

[2020-05-29 11:53] ealymbaev commented on #213
By bad not searching for this issue. `wrap()` method does solve the issue.

Thank you for your help and great library!

[2020-05-29 11:53] #213 closed

[2020-05-29 12:57] rob-keepsafe commented on #213
Just as a note, please follow the Bug Report template instead of deferring the work onto us. This is the very first line that you removed when filing this ticket:

[2020-05-31 14:46] ealymbaev commented on #213
Sure... I will let you know when we add full implementation of your parser into our product, so that you can list it in Readme.

[2020-06-08 04:38] ealymbaev opened #214 "Line breaks between list items are not parsed correctly"
Please help prevent duplicate issues before submitting a new one:

* [x] I've searched other open/closed issues for duplicates before opening up this new issue.

# Report

## What did you do?

I am trying to parse the following markdown example:

[code]

## What did you expect to happen?

Most markdown renderers (e.g. `Github`) insert a line break between list items in `Second Example`.

## What h

[2020-06-10 10:30] ealymbaev commented on #214
@johnxnguyen @rob-keepsafe any thoughts?

[2020-06-10 10:46] johnxnguyen commented on #214
Hi @ealymbaev sorry for the delay. Indeed this is the behavior of `cmark`, whereby two list items separated by a single line break are considered to be part of the same list. I believe this is intentional and part of the [commonmark spec](https://daringfireball.net/projects/markdown/syntax#list).

Note however that two list items are separated by double newlines, then they both belong to separate

[2020-06-10 11:10] ealymbaev commented on #214
Hi @johnxnguyen here is the quote from `commonmark spec` you provided:

[code]

As you may see, list items separated by *blank line* are parsed differently (wrapped with paragraph).

But `cmark` does not differentiate these cases and parse them into exactly the same tree. That is the main issue I am facing now.

P.S. I do not need to separate them into different lists, I need both items in the sam

[2020-06-10 11:12] ealymbaev commented on #214
Here is an example showing show Github renders these cases.

[code]

renders into:

# First Example

- first item
- second item

# Second Example

- first item

- second item

[2020-06-11 04:02] ealymbaev commented on #214
@johnxnguyen actually I am using my own visitor, but it has its own `AttributedStringVisitor` and uses it for handling low-level nodes, like `text`, `emphasis`, `link` and so on. In other words I am using my visitor to form my own blocks, but the text inside blocks are parsed to attributed strings via `AttributedStringVisitor`.

So it would be enough to have this property in `List` node. I am inte

[2020-06-11 04:23] ealymbaev commented on #214
I have tested your pull request and it works!

[code]

Thanks you for the feature!

[2020-06-11 06:31] ealymbaev commented on #214
When are you planning to release new version with this feature?

[2020-06-12 14:38] iwasrobbed commented on #214
@ealymbaev I'll release once the PR merges

Also I've given you collaborator access so you can feel free to open PRs and help improve Down in the future

Thanks for raising the issue and digging into the docs

[2020-06-12 15:29] #214 closed

[2020-06-12 19:35] kengruven opened #217 "0.9.0/0.9.1 don't build with Swift 5.0.x"
Please help prevent duplicate issues before submitting a new one:

* [X] I've searched other open/closed issues for duplicates before opening up this new issue.

# Report

## What did you do?

The Cartfile of my project used to have the line:

    github "iwasrobbed/Down" == 0.8.6

I want to try out a feature that's in the 0.9.x series, and I see in the README that 0.9.2+ is for Swift 5.1 (which I

[2020-06-12 19:47] kengruven commented on #217
I forked and branched (from tag "v0.9.1") with 2 small changes, and this builds with Swift 5.0.1 again:

https://github.com/iwasrobbed/Down/compare/master...kengruven:swift50

[2020-06-12 19:59] iwasrobbed commented on #217
Hi @kengruven 👋 You're welcome to maintain your fork, but I'd rather not backport changes to prior Swift versions. It's a rabbit hole that only benefits a few people versus the maintainers having to keep a mental model of all these extra changes

[2020-06-12 19:59] #217 closed

[2020-06-12 20:06] kengruven commented on #217
That's fair.  Can we at least update the README?

[2020-06-13 15:12] iwasrobbed commented on #217
@kengruven Done here https://github.com/iwasrobbed/Down/commit/296ad5409a3280574df17b47db06af5ab4226068

Thanks for pointing it out

[2020-06-14 20:13] tklightningfast opened #218 "Creating a new Visitor leads to wrapping value error"
Hello! I love this project! For my purposes, I've been making a ```Visitor``` that renders markdown text to SwiftUI Views. However, accessing any data of a node leads to the following error:
[code]
The code breaks on the line I print ```node.children``` in rendering a heading node in my visitor class (but the same error occurs on other nodes as well):
[code]
This is where I initiate the AST traver

[2020-06-15 17:08] rob-keepsafe commented on #218
Hi there 👋 Please consider asking general questions about working with `cmark` and `Down` on StackOverflow.com rather than here. The only issues that should be filed on this GitHub repo is if it's a bug in Down that needs addressing. Thanks!

[2020-06-15 17:08] #218 closed

[2020-06-23 01:40] BrentMifsud commented on #120
This also happens with Cocoapods Binary plugin.

I dont think this is specifically an issue with Carthage, but an issue with using Down as a .framework

[2020-06-23 18:34] gsbernstein opened #219 "[Legacy API] toAttributedString() adding trailing newline via `toHTML()`"
Please help prevent duplicate issues before submitting a new one:

* [x] I've searched other open/closed issues for duplicates before opening up this new issue.

# Report

## What did you do?

Example code:
[code]

## What did you expect to happen?

attributedString.string == "test"

## What happened instead?

attributedString.string == "test\n"

Seems like internally `toAttributedString()` uses `

[2020-06-23 18:39] gsbernstein commented on #219
It seems like your NSAttributedStringTests even expect the trailing newline to be added. Is this intended behavior?

[code]

[2020-06-23 18:49] rob-keepsafe commented on #219
Hi @gsbernstein 👋 I would likely switch to using the attributed string styler API (which is background thread safe as well) rather than that legacy API which does indeed use `toHTML()` under the hood. We have no control over how they render their string w/ that API but with the attributed string styler you can do whatever you wish

See https://github.com/iwasrobbed/Down/pull/177

and examples in t

[2020-06-23 18:49] #219 closed

[2020-06-23 20:47] gsbernstein commented on #219
Thanks Rob! Does that API support using a stylesheet? Our current full code looks like this
[code]
And I'm not sure if DownStylerConfiguration lets you do all of that (or how to translate it)

[2020-06-23 20:54] johnxnguyen commented on #219
@gsbernstein unfortunately no it currently does not support using a stylesheet.

[2020-06-23 21:37] rob-keepsafe commented on #219
No style sheets, but you could set general styles like John does here https://github.com/iwasrobbed/Down/blob/master/Tests/Styler/StylerTestSuite.swift#L90

If you need more custom styling, you could also fork the repo and add it in (such as your `last-child` styling) but there are already some APIs for spacing between list items

[2020-06-28 20:09] kengruven commented on #208
FWIW, I just ran across Carthage/Carthage#2799 -- It looks like Carthage doesn't yet support Catalyst.  That's probably the biggest blocker for Down (at least for Carthage users), since Down.framework already builds on macOS and iOS.

[2020-07-21 18:27] KrisConrad commented on #209
I'm also getting the `Missing required module 'libcmark'` error when trying to include the project from SPM or Cocoapods.

[2020-07-27 01:35] SolorzanoJose opened #220 "Emphasis + Strong"
Please help prevent duplicate issues before submitting a new one:

* [ X ] I've searched other open/closed issues for duplicates before opening up this new issue.

# Report

## What did you do?

I tried conforming to the Styler protocol

## What did you expect to happen?

I could specify what font to use for emphasis + strong

## What happened instead?

I can only customize one or the other

[2020-07-27 01:54] #220 closed

[2020-07-28 12:06] summonerriftofficial opened #221 "How i can render both markdown and Latex ?"
I have a  markdown and latex togther, how I can render them together?

[code]

[2020-07-28 16:09] rob-keepsafe commented on #221
Please ask these sorts of questions on StackOverflow.com first and at the very least detail out what you've tried and what hasn't worked instead of deferring all of the work onto us.

[2020-07-28 16:09] #221 closed

[2020-08-11 05:10] SolorzanoJose commented on #83
@iwasrobbed if I replace \n with <br/> the parser eats it and it doesn't show up in the styler. I'm trying to add multiple line breaks in my text.

[2020-08-11 05:17] SolorzanoJose opened #222 "Multiple line break support"
According to https://spec.commonmark.org/dingus/ if I use multiple I `<br/>` should be able to insert multiple line breaks in my text. However, if I parse it using Down the line breaks it just displays `<br/> ` instead of inserting a line break. Any ideas on how to achieve this if there's no planned support in the library?

[2020-08-11 06:24] johnxnguyen commented on #83
@SolorzanoJose  You can force line breaks as shown in [this example](https://spec.commonmark.org/dingus/?text=%0Aone%0A%5C%0A%5C%0A%5C%0A%5C%0A%5C%0Atwo%0A%0A%0A%0A%0Athree%0A).

[2020-08-11 06:27] johnxnguyen commented on #222
The attributed string styler unfortunately doesn't support html tags, it simply renders them as code as you have mentioned. Commonmark allows you to force line breaks as shown in [this example](https://spec.commonmark.org/dingus/?text=%0Aone%0A%5C%0A%5C%0A%5C%0A%5C%0A%5C%0Atwo%0A%0A%0A%0A%0Athree%0A). I hope that helps.

[2020-08-11 17:34] rob-keepsafe commented on #222
To be clear, `<br/>` is HTML, not CommonMark, so this is not within the scope of what we'd support. Down is simply a library to transform CommonMark into other formats, such as HTML, not the other way around.

[2020-08-11 17:34] #222 closed

[2020-08-11 22:41] SolorzanoJose commented on #222
@rob-keepsafe What is the work around available that inspired the workaround available tag? I tried using slashes like in the example by John but Down doesn't support that either.

[2020-08-11 23:00] SolorzanoJose commented on #222
I see this being asked over and over in closed tickets but there's no clear answer, if CommonMark supports multi line spaces perhaps we should be open to a PR on this as well?

[2020-08-11 23:48] rob-keepsafe commented on #222
@SolorzanoJose As always, this is an open source repo. We welcome any PRs since we don't work on this as our primary job and it's up to the community as a whole to maintain, not just us. Feel free to make improvements if you need it improved, since we don't all have the same use cases.

I would suggest checking that the underlying [cmark](https://github.com/commonmark/cmark) lib behaves correctly

[2020-08-12 07:36] johnxnguyen commented on #222
@SolorzanoJose when running some tests using the attributed string render (the option that takes a `Styler`) I was able to insert and render multiple line breaks. However keep in mind that if you provide a string literal as input, you need to escape these backslashes with an additional backslash:

[code]

Hopefully this resolves your issue.

[2020-08-22 05:57] jsorge opened #225 "Preserve formatting tokens on render"
Please help prevent duplicate requests before submitting a new one:

* [x] I've searched other open/closed issues for duplicates before opening up this new issue.

# Feature Request

If I have a markdown string such as:

[code]

When I render it as an attributed string using Down, the `**` characters are removed and the styling is applied to the text inside the pair of `**` tokens. I'd like to be

[2020-08-23 22:24] kengruven commented on #209
Have you tried upgrading Xcode?  There's an Xcode 11.5 now, which still supports every system that 11.4.x did.

I added "iwasrobbed/Down" as a Swift Package to a new Project in Xcode 11.5, and it built just fine.  Then I added the first couple lines from Down's README to that program (and logged it), and it was able to generate HTML from Markdown.  So, no problems with Down-via-SPM here.

[2020-08-24 00:29] SwiftDevJournal commented on #209
I am able to build the Swift package in Xcode 11.6.

[2020-08-24 00:29] #209 closed

[2020-08-24 06:23] johnxnguyen commented on #225
Hi @jsorge 👋  As @iwasrobbed-ks already mentioned, you could reinsert the tokens in your `AttributedStringVisitor` overrides. If you want the tokens to be styled the same as the content, just insert the tokens before calling the `super` implementation. This approach is simple and clean but it may not be what you're looking for.

If you want to have an editor with markdown capability, then I'm afra

[2020-08-26 13:14] iwasrobbed-ks commented on #225
Going to close this one out as it diverges away from Down's primary use case and there are also a number of workarounds available for this edge case. Feel free to reopen or comment here if you have additional concerns

[2020-08-26 13:14] #225 closed

[2020-09-10 15:25] iwasrobbed-ks commented on #219
@o15a3d4l11s2 I'm curious why you wouldn't just use an attributed string transform for sub/superscript instead of opting into HTML? E.g. https://github.com/Flinesoft/HandyUIKit/blob/3353856a1d50df5ffd370ded078c1a21ffb18a68/Frameworks/HandyUIKit/Extensions/NSAttributedStringExt.swift#L55

Otherwise, no, handling any sort of HTML requires switching into unsafe mode since HTML code isn't safe for raw

[2020-09-10 17:00] o15a3d4l11s2 commented on #219
@iwasrobbed-ks, thanks for the fast response and the suggested alternative. I have external constraints, so I need to support <sup> and <sub> explicitly. I resolved the end newline issue and all works properly now. Thank you for creating this library!

[2020-09-24 17:48] alexjameslittle opened #226 "How to pre-calculate height needed for attributed string when using DownLayoutManager"
I am embedding a custom label that uses DownLayoutManager inside of a UICollectionViewCell. For the collection view layout I need to precalculate the required height. This is relatively easy using normal NSAttributedString's using a method like this:
[code]

However this doesn't accurately calculate the height when using custom attributes such as the code blocks from this library.

Could you pleas

[2020-09-24 22:24] iwasrobbed-ks commented on #226
Hi there - Unless it is a bug or a feature/API request, please ask general Swift/iOS questions on StackOverflow.com first

If there ends up being Down specific issues, we are happy to take a look

[2020-09-24 22:24] #226 closed

[2020-09-24 22:26] alexjameslittle commented on #226
This is down specific, I'm asking how I can calculate the height of the attributed string when it includes code block backgrounds and extra insets that are a part of Down not NSAttributedString

[2020-09-29 08:24] johnxnguyen commented on #226
@alexjameslittle so the problem you're having is that the extra insets aren't included in the calculated size? The `DownLayoutManager` contains this info so it would need to be involved in the size calculation. How is your custom label built? Does it use a `DownTextView`?

Would you be able to force the layout manager to lay out the attributed string, then query the size of the text view? Or perha

[2020-09-29 13:22] iwasrobbed-ks commented on #226
Would it not be possible to just use https://developer.apple.com/documentation/uikit/nslayoutmanager/1402980-usedrectfortextcontainer ?

[2020-10-01 17:00] kenmorse commented on #120
Agreed; this seems to be an issue of relating specifically to the way cmark is pulled into the project.

[2020-10-07 20:19] AndresLeonardoMartinez opened #229 "Blink issue after call update method"
Please help prevent duplicate issues before submitting a new one:

* [x] I've searched other open/closed issues for duplicates before opening up this new issue.

# Report
I have a blink issue after call `update` method on iOS 13

## What did you do?

[code]

## What did you expect to happen?
It should show the DownView with the text without blink effect

## What happened instead?
Every time update

[2020-10-08 00:14] iwasrobbed-ks commented on #229
Hi @AndresLeonardoMartinez 👋

`DownView` is just a `WKWebView` under the hood so it will have a lot of limitations on rendering; you might be better off using the attributed string APIs which are bundled into [`DownTextView`](https://github.com/iwasrobbed/Down/blob/master/Source/AST/Styling/Text%20Views/DownTextView.swift)

Unfortunately there's not much we can do about the web view rendering / re

[2020-10-08 00:14] #229 closed

[2020-10-08 15:35] AndresLeonardoMartinez commented on #229
I was able to make it works using a UITextView
`Down(markdownString: text).toAttributedString(stylesheet: stylesheet)`

thanks!

[2020-10-08 16:32] iwasrobbed-ks commented on #229
Glad to hear it @AndresLeonardoMartinez 👍

As a follow-up, please keep in mind the `toAttributedString(stylesheet` is not background thread safe and might be slow since it uses an old web view API to do the rendering to HTML. `DownTextView` is recommended to be used in parallel with this attributed string API https://github.com/iwasrobbed/Down/blob/master/Source/Renderers/DownAttributedStringRende

[2020-10-09 19:30] MrWoWander opened #231 "SwiftUI support"
Hello
Are there any plans to add SwiftUI support soon?

[2020-10-09 19:38] iwasrobbed-ks commented on #231
@MrWoWander Please follow the issue / feature request checklists next time since it asks you to search for duplicates before opening a new issue.

See https://github.com/iwasrobbed/Down/issues/199 and feel free to reopen this if you're unable to bridge it into SwiftUI

[2020-10-09 19:38] #231 closed

[2020-10-09 19:40] MrWoWander commented on #231
Thanks
I apologize for the inconvenience caused.

[2020-10-20 16:25] RedPlumber opened #232 "DownStylerConfiguration Link Color Not Working"
Please help prevent duplicate issues before submitting a new one:

* [x] I've searched other open/closed issues for duplicates before opening up this new issue.

# Report

## What did you do?

I have used your iOS example code to build a custom style but unfortunately the link color is not changing.

I replaced the content of **renderDownInWebView** with this

let down = Down(markdownString: readM

[2020-10-21 07:03] johnxnguyen commented on #232
Hi @RedPlumber , thanks for the report. I can confirm the issue and know the cause. I'll push a fix when I have some time.

[2020-10-21 14:35] iwasrobbed-ks commented on #232
Closed via #233 ; will release a new version soon

[2020-10-21 14:35] #232 closed

[2020-11-10 02:03] WillBishop opened #235 "Can I get just the ranges of Markdown objects?"
Please help prevent duplicate issues before submitting a new one:

* [x] I've searched other open/closed issues for duplicates before opening up this new issue.

# Report

## What did you do?

I tried to get just the ranges of the recognised markdown strings. I used `enumerateAttributes` on an `NSAttributedString`, which _worked*_ but it gave the ranges _after_ parsing (as I'd expect). So in the s

[2020-11-10 08:24] johnxnguyen commented on #235
Hi @WillBishop , in general, if you have questions about the structure of your text then you would want to be working with the abstract syntax tree generated from the parsing stage. You would achieve this by implementing your own `Visitor` object (see `AttributedStringVisitor` for ideas).

However, I must warn you that if your goal is to have a markdown editor with live rendering (i.e styling as y

[2020-11-28 11:41] Kalzem opened #236 "How to specify font for strong?"
I have a markdown text with only a body which contains strong and italic parts (no headings, no listing, etc).

The default font for the body is a custom font already bold (let's call it "SuperFont-Bold"). How can I specify an even boldier font ("SuperFont-ExtraBold") for the **strong text**?

I cannot find any arguments in the DownStyler/Configuration.

By the way, I'm using `try? down.toAttribut

[2020-11-30 21:36] johnxnguyen commented on #236
Hi @Kalzem , the `AttributedStringVisitor` doesn't use separate fonts for bold and italic, but rather modifies the base font by inserting bold or italic traits. But I think it would be pretty straightforward to achieve what you want to do by subclassing `AttributedStringVisitor` and overriding the `visit` method for strong nodes. You could call the super method first, storing the result in a local

[2020-12-02 14:00] iwasrobbed-ks commented on #236
Thanks @johnxnguyen , closing this out but feel free to re-open if needed

[2020-12-02 14:00] #236 closed

[2020-12-04 18:56] iwasrobbed-ks commented on #235
Closing this for now due to no response and unlikely to support it in cmark

[2020-12-04 18:56] #235 closed

[2020-12-14 00:31] danramteke opened #238 "GitHub actions build failure: `small method list`"
Please help prevent duplicate issues before submitting a new one:

* [x] I've searched other open/closed issues for duplicates before opening up this new issue.

# Report

## What did you do?
I am using this project in a static site generator. For my project, `swift test` on macOS locally works, `swift test` on GitHub Actions `ubuntu-latest` works. But not on GitHub Actions `macos-latest`. Any adv

[2020-12-14 00:42] iwasrobbed commented on #238
I personally don't have any experience w/ GitHub Actions, but typically on other CI systems it's best to SSH into the machine and figure things out locally, then apply the patch and push again.

Here's a related article: https://dev.to/retyui/how-debugging-github-actions-with-ssh-273n?a=github_community

[2020-12-14 00:47] danramteke commented on #238
just resolved this by changing my `Package.swift`

i had   ` .macOS(.v11),`
and changed it to   ` .macOS("10.15.4"),`

now it works. thanks so much!

[2020-12-14 00:47] #238 closed

[2021-01-15 09:29] a334713698 opened #241 "【LaTeX】Hello, I would like to ask how to support LaTeX display in markdown?"

[2021-01-15 09:57] johnxnguyen commented on #241
Hi @a334713698 , could you please describe what you would like to do? Do you want to input LaTeX and render it using Down?

[2021-01-18 05:59] a334713698 commented on #241
It's great that you can reply to my question! My requirement is very simple. There are mathematical expressions labeled'$' or'$$' in my markdown string. I want to be able to render and display these markdown strings with mathematical expressions directly through DownView. As shown in the attached picture:
<img width="1553" alt="pic" src="https://user-images.githubusercontent.com/18247575/104877685

[2021-01-18 07:16] johnxnguyen commented on #241
@a334713698 no problem, I'm happy to help where I can. Down only supports parsing markdown input according to the CommonMark specification (this is what the cmark library does, which Down uses). Unfortunately this means that LaTeX (including mathematical expressions) can't be rendered in Down.

[2021-01-18 07:32] a334713698 commented on #241
Okay, I will find other ways to solve my problem. However, Down is still a good program(*￣︶￣)

[2021-01-18 08:01] johnxnguyen commented on #241
@a334713698 thanks, and good luck!

[2021-01-18 08:01] #241 closed

[2021-01-23 01:29] djstevenson opened #242 "Namespacing issues with Down "Node" type"
I want to build an Html object using Pointfree's https://github.com/pointfreeco/swift-html
and this Down package.

The idea was to use Down to parse Markdown, and to use a "visitor" (as you define in DebugVisitor for testing) - as I visit a node, I generate the corresponding Html node (so, rather than doing Markdown -> String, I'm trying to do Markdown -> [Html.Node])

I have a problem with the na

[2021-01-23 01:33] djstevenson commented on #242
Obviously, my workaround is to render Markdown to a String, then include that as 'raw' in my Pointfree Html struct. But I was kinda hoping to get the full safety etc of their library while writing some content in Markdown.

[2021-01-23 02:05] djstevenson commented on #242
I'll put together a minimal project to illustrate the apparent problem, soon.

[2021-01-23 12:23] johnxnguyen commented on #242
Hey @djstevenson , thanks for getting in touch and for the nice example repo. So this is an interesting problem that I've never come across before. The source of the problem is that the Down module contains a public type called `Down` which is confusing Xcode.

Consider the following code:

[code]

You're getting the error "Node is not a member type of Down" because Xcode sees that the struct call

[2021-01-23 15:30] djstevenson commented on #242
Thank you for the lightning quick response!

Unfortunately, I'm still seeing the same error in DownAliases.swift - I've pushed a commit implementing your suggestion to my demo repo.

[2021-01-23 16:39] djstevenson commented on #242
I think I might have cracked it, with DownAliases.swift containing this, which I now realise is probably what you meant to put in your workaround example above:

[code]

[2021-01-23 20:46] johnxnguyen commented on #242
@djstevenson ahhhh yeah, sorry my bad! Indeed I mistyped the code block example, I'll update the comment andl close this issue. Feel free to reach out for anything else!

[2021-01-23 20:46] #242 closed

[2021-01-23 21:13] djstevenson commented on #242
I really appreciate your help, thank you.

[2021-01-30 11:21] acoustep opened #243 "[Crash] Missing resource bundle when using SPM"
Please help prevent duplicate issues before submitting a new one:

* [x] I've searched other open/closed issues for duplicates before opening up this new issue.

# Report

## What did you do?

I'm trying to parse some markdown and render it to a DownView

## What did you expect to happen?

I expected the HTML to render in the DownView.

## What happened instead?

I'm getting this crash on the syst

[2021-01-30 14:07] johnxnguyen commented on #243
Hey @acoustep , thanks for flagging this issue. So it looks like the `DownView.bundle` (a resource that contains some css and javascript files) can't be loaded. Bundle resources were not supported in Swift packages until Swift 5.3, and unfortunately Down is still targeting 5.1.

I'll look into getting a fix for this, in the meantime you may need to continue to use Carthage to pull Down into your p

[2021-01-30 14:14] acoustep commented on #243
Hi @johnxnguyen , no problem. Thanks for responding so fast, I appreciate it!

[2021-02-11 04:30] codeslubber opened #244 "Does not build in 12.5"
Please help prevent duplicate issues before submitting a new one:

* [X] I've searched other open/closed issues for duplicates before opening up this new issue.

# Report

## What did you do?

Simply attempted to build a project with Down inside that builds in 12.4.

## What did you expect to happen?

That it would build.

## What happened instead?

Crashed with the same error found on this issue:

[2021-02-12 20:18] johnxnguyen commented on #244
Hi @codeslubber , thanks for the report. This is fixed with https://github.com/johnxnguyen/Down/pull/245 and available in `v0.9.5`.

[2021-02-12 20:18] #244 closed

[2021-02-16 15:31] mrackwitz opened #246 "[Attributed Strings] Unordered list items with a single line appear further indented than those with multiple lines when using a custom font"
Please help prevent duplicate issues before submitting a new one:

* [x] I've searched other open/closed issues for duplicates before opening up this new issue.

# Report

## What did you do?

Render a markdown string with an unordered list with a custom font.
The custom font is used in the same size for the body as well as the `listItemPrefix`.
The text is rendered via a UILabel.

## What did you

[2021-02-16 15:37] johnxnguyen commented on #246
Hey @mrackwitz thanks for the report, I'll take a look at this when I can.

[2021-02-21 20:54] johnxnguyen commented on #246
Hey @mrackwitz , regarding the tests: I've removed Carthage and instead have decided to use SPM to pull in the snapshot testing framework. You should be able to run the snapshot tests now.

[2021-02-21 21:17] mrackwitz commented on #246
Yay, love it! Thanks @johnxnguyen. That's what I did locally, because it was easier for me than figuring out what was wrong. (Sorry I really could have just PRed that, but that have felt rather opinionated tbh.)

Oh that's a very important point, might make sense to document this in a section in the README – might have also just missed that.

The only update I've myself on this so far is that I've

[2021-02-21 21:36] mrackwitz commented on #246
Also one thing I've been wondering is whether using a `UILabel` vs a `UITextView` is causing this difference here. So I'd be curious if you happen to know about any limitations with `UILabel` when it comes to that.

[2021-02-21 21:46] johnxnguyen commented on #246
I think the issue with Carthage is that Xcode 12 now requires xcframeworks, so you need to pass in the `--use-xcframeworks`  when using Carthage. But I tried this and had other problems, and in the end it was just easier to switch over to SPM (which I wanted to do anyway!).

Yes, it's on my list to improve the README and documentation so I'll make sure to add this point.

About the indentation iss

[2021-02-21 22:10] johnxnguyen commented on #246
To explain this a bit further, since I didn't really answer this in the last comment. I'm pasting a bunch of code, but you only need to look at the lines that I've commented. Here is how we style a list item:

[code]

I hope that clarifies how it works. So the `ListItemParagraphStyler` doesn't care about what kind of list item its. The only thing that it needs to know is how wide that prefix is. T

[2021-02-21 22:27] johnxnguyen commented on #243
Hey @acoustep , I have a draft PR that should solve this crash. I've tested it locally and it seems to work, but it'd be great if you could pull the branch `fix/swift-package-structure` to your project via SPM and check that you can use `DownView`.

[2021-02-21 23:46] mrackwitz commented on #246
I'm using a proprietary font, [Edmondsans](http://www.losttype.com/font/?name=edmondsans).

I did, but it's not working in my case as I'm using it from SwiftUI. I've to jump thru quite some hoops to make it render performant in my particular case, so I've some caching and mostly bypass the label's auto-layouting capabilities, also I have some custom logic to make hyperlinks work and have their tap

[2021-02-22 07:45] johnxnguyen commented on #246
I've only experimented a bit with SwiftUI so I'm curious what are the performance concerns of wrapping a `UITextView` into a `UIViewRepresentable`?

[2021-02-22 17:16] acoustep commented on #243
Hi @johnxnguyen , I've tried this and it compiles but I'm unable to see anything in the view.

I'm seeing this in my error logs:

[code]

Here's a screenshot
<img width="592" alt="image" src="https://user-images.githubusercontent.com/2813287/108744041-613a7380-7531-11eb-8821-ec96f966a173.png">

and the code

[code]

[2021-02-22 17:21] johnxnguyen commented on #243
Hey @acoustep , make sure your entitlements file has a key `com.apple.security.network.client` with a boolean value `1`, as seen here:

![Screen Shot 2021-02-22 at 6 18 43 PM](https://user-images.githubusercontent.com/28632506/108744784-a1eaba80-753a-11eb-84b4-b4a1c09b1873.png)

I'm not sure why you need it (I don't use `DownView`) but I saw it in the demo project and it works for me. Let me know

[2021-02-22 17:38] acoustep commented on #243
Thanks @johnxnguyen that's done the trick. I think it must be because the example markdown file has links to external images.

[2021-02-22 17:40] johnxnguyen commented on #243
Good to know! I'll do some some checks that o haven't broken anything when pulling in Down via Carthage or Pods, and if all is good I'll merge the PR and release the changes soon.

[2021-02-24 05:09] kengruven commented on #242
Looks like [SR-898](https://bugs.swift.org/browse/SR-898) -- a known language limitation for 5 years.

[2021-02-28 13:26] #243 closed

[2021-03-19 21:07] #205 closed

[2021-03-29 16:58] geoplum opened #253 "[Commonmark] Strikethrough not working / not supported"
# Description

The "~~" markdown is not working or you're not supporting it yet.
Would be nice having this.

Thanks!

# Report

## What did you do?

[code]

## What did you expect to happen?

Expected the correct markdown rendering!

<img width="297" alt="Screenshot 2021-03-29 at 17 57 18" src="https://user-images.githubusercontent.com/75254753/112872385-3b683780-90b8-11eb-8130-e254c02789bf.png">

[2021-03-30 06:33] johnxnguyen commented on #253
Hi @geoplum , thanks for getting in touch. Down uses `cmark` to parse markdown, and it does so according to the [Commonmark specifcation](https://spec.commonmark.org/0.29/). Unfortunately Commonmark doesn't support strikethrough. To add support for strikethrough one would have to fork cmark and extend the parser, which is not something that I intend to do.

[2021-04-12 12:19] nejcpintar opened #254 "DownStyler not included when installed via CocoaPods"
Please help prevent duplicate requests before submitting a new one:

* [x] I've searched other open/closed issues for duplicates before opening up this new issue.

# Feature Request

DownStyler.swift is not included when installing via CocoaPods. It is included when installing via SPM

## Is your feature request related to a problem? Please describe.

I'd like to use DownStyler in my project

## D

[2021-04-12 12:30] #254 closed

[2021-04-14 07:47] johnxnguyen commented on #253
Closing due to inactivity.

[2021-04-14 07:47] #253 closed

[2021-04-14 07:47] johnxnguyen commented on #246
Closing due to inactivity.

[2021-04-14 07:47] #246 closed

[2021-05-07 01:43] metrue opened #256 "It'd be perfect if there's a example with SwiftUI."
Please help prevent duplicate requests before submitting a new one:

* [ ] I've searched other open/closed issues for duplicates before opening up this new issue.

# Feature Request

## Is your feature request related to a problem? Please describe.

ℹ A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

## Describe the solution you'd like

ℹ A clear and con

[2021-05-07 01:47] #256 closed

[2021-05-25 19:16] Ryanauger95 opened #257 "Is it possible to use superscripts or subscripts with this library? If so how? If not, we'd love the feature!"
# Feature Request

Superscript / Subscript support, like Github's markdown, or even using inline HTML <sup></sup>

[2021-05-28 15:58] antoniogonzalezromero opened #259 "Tag <blockquote> is not being properly converted to NSAttributedString"
Please help prevent duplicate issues before submitting a new one:

* [x] I've searched other open/closed issues for duplicates before opening up this new issue.

# Report

When using mark "> " in markdown string, then it is not properly rendered into UITextView or UILabel attributedText property. Vertical gray line does not appear and paragraph headIndent  and firstLineHeadIndent are not set.

##

[2021-05-31 07:57] johnxnguyen commented on #257
Hi @Ryanauger95 , thanks for getting in touch. Unfortunately superscripts and subscripts are not part of the [Commonmark specification](https://spec.commonmark.org/0.29/).

It _may be possible_ (I haven't tried it) to use inline html, but it only when using the `DownView` which uses a web view to render the content. However, if you rely on using the `DownStyler` it certainly won't work because thi

[2021-06-01 12:38] Ryanauger95 commented on #257
This does help - I appreciate the quick reply. I figured we could use special unicode superscript characters
On May 31, 2021, 3:57 AM -0400, John Nguyen ***@***.***>, wrote:

[2021-06-01 13:59] MrWoWander commented on #256
I offered my example on working with SwiftUI in #260

[2021-06-01 14:00] MrWoWander commented on #231
I offered my example on working with SwiftUI in #260

[2021-06-01 14:00] MrWoWander commented on #199
I offered my example on working with SwiftUI in #260

[2021-06-02 21:01] johnxnguyen commented on #257
@Ryanauger95  no problem, let me know if there's anything else I can help you with.

[2021-06-02 21:01] #257 closed

[2021-06-14 05:38] liang2kl opened #262 "Support for the new `AttributedString`"
In WWDC 21 a new [`AttributedString`](https://developer.apple.com/documentation/foundation/attributedstring) type was introduced, useful for rendering attributed text in SwiftUI.

It seems that converting the `NSAttributedString` instance generated by the module to `AttributedString` using [`init<S>(_ nsStr: NSAttributedString, including scope: S.Type) throws where S : AttributeScope`](https://dev

[2021-06-18 07:58] johnxnguyen commented on #262
Hi @liang2kl , I haven't been able to look at this yet. Is this no longer an issue?

[2021-06-18 09:18] liang2kl commented on #262
Sorry, seems I closed this by mistake.

I have experimented with this for a while, and the reason might be SwiftUI not recognizing the attributes created with UIKit
 (the `AttributedString` instance do have the original attributes, though).

So I guess we need a styler for `AttributedString`?

[2021-06-18 10:55] johnxnguyen commented on #262
I'm afraid I haven't yet had a look at the new `AttributedString` api, so I welcome any input that you have.

[2021-06-21 18:36] mathist opened #263 "Can I use Down to convert an NSAttributedString to a markdown String?"
Please help prevent duplicate requests before submitting a new one:

* [ ] I've searched other open/closed issues for duplicates before opening up this new issue.

# Feature Request

## Is your feature request related to a problem? Please describe.

ℹ A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

## Describe the solution you'd like

ℹ A clear and con

[2021-06-22 13:45] liang2kl commented on #262
I have a solution after some exploration.

The problem is that, SwiftUI won't recognize any attribute from UIKit. Instead, it use different types, with limited attributing options.

So (it seems) the only solution is to convert the UIKit attributes to the SwiftUI ones, like:

[code]

This method can transform the correspond attribute to any currently supported attribute in SwiftUI, and I works. Bu

[2021-06-23 06:18] johnxnguyen commented on #263
Hi @mathist , Down does not support converting an `NSAttributedString` to a markdown string.

[2021-06-23 06:25] johnxnguyen commented on #262
@liang2kl I would wait until `AttributedString` matures enough to be able to support the standard TextKit attributes, otherwise, as you suggest, the experience will be quite poor. In any case, I'll return to this at some point to see how we can take advantage of new TextKit apis.

[2021-07-20 01:56] erikkerber opened #264 "Carthage Support for Apple Silicon arm64 Simulators"
Please help prevent duplicate requests before submitting a new one:

* [x] I've searched other open/closed issues for duplicates before opening up this new issue.

# Feature Request

Add arm64 to the supported architectures from the Xcode used by Carthage.

## Is your feature request related to a problem? Please describe.

Only [i386 and x86_64 architectures](https://github.com/johnxnguyen/Down/bl

[2021-07-23 03:57] erikkerber commented on #120
For anyone interested – I have a branch that refactors the packaging of this framework a bit in a way that makes it portable, and obviates the need to add the cmark directory to the Swift includes path:

https://github.com/erikkerber/Down/tree/ek/portable-framework

It's a pretty early prototype that will work for me for now, which is all to say I haven't tested it hasn't broken anything with SPM.

[2021-07-28 06:46] mehrshadJalilmair opened #267 "StrikeThrough ~~line through~~"
Does SDK support StrikeThrough ~~line through~~ ? Could you please mention syntax if it does?

[2021-07-28 11:25] CallMeLaNN commented on #259
What happened if you try to put a blank line in between blockqoutes? It become a practice to put a blank line between blocks to maintain consistency across renderer.

[2021-07-28 16:06] #264 closed

[2021-07-30 09:28] johnxnguyen commented on #267
Hi @mehrshadJalilmair , unfortunately strikethrough is not supported. For reference, Down uses the [Commonmark spec](https://spec.commonmark.org/0.29/).

[2021-08-04 09:34] ndemie opened #269 "Newlines ("\n") get lost and replaced with a whitespace"
Please help prevent duplicate issues before submitting a new one:

* [X] I've searched other open/closed issues for duplicates before opening up this new issue.

# Report

Newlines seem to get lost when creating an attributed string using DownStyler and get replaced with a whitespace

## What did you do?

[code]
"Test Test"

## What did you expect to happen?

[code]
"Test\nTest"

Before this we us

[2021-08-04 09:39] ndemie opened #270 "Possibility to disable certain specific parts of the CommonMark spec"
Please help prevent duplicate requests before submitting a new one:

* [ X] I've searched other open/closed issues for duplicates before opening up this new issue.

# Feature Request

We would like to be able to disable certain parts of the CommonMark spec in the library. We want to support certain things (bold, italic, underline, headings, lists) but not support other things such as blockquotes a

[2021-08-04 11:14] johnxnguyen commented on #269
Hi @ndemie , so there is a specific option to use to treat these "soft breaks" (what you're getting) as "hard breaks" (what you want). By default, all single newlines are considered soft breaks. You want to pass in [this option](https://github.com/johnxnguyen/Down/blob/e2b597d469df8c237d7227b754da01139ede70ce/Sources/Down/Enums%20%26%20Options/DownOptions.swift#L34) to the parser, so something lik

[2021-08-05 07:13] johnxnguyen commented on #270
Hey @ndemie , unfortunately there's not much we can do to affect the commonmark parser outside of the options specified in `DownOptions`. However it should be fairly straightforward to achieve what you want using a custom styler. As you mentioned, the default styler renders elements that you don't want, but you could create your own subclass of the default styler and simply override certain stylin

[2021-08-09 08:03] ndemie commented on #270
That indeed works for not applying styling, however the special trigger characters as part of the markdown spec (such as '>' for blockquote) still get lost.

Judging by your answer there is currently no way to circumvent this?

[2021-08-09 09:02] johnxnguyen commented on #270
@ndemie these characters are lost because they're considered delimiters in the source string and the cmark parses doesn't preserve them all. However, you can (in most cases) reconstruct them from the syntax tree produced by cmark, by inserting them manually at the right places before the styling takes place. For instance, [at this line](https://github.com/johnxnguyen/Down/blob/e2b597d469df8c237d72

[2021-08-10 07:34] #270 closed

[2021-08-10 12:59] ndemie commented on #269
Hard breaks still seem to get lost though.

Test\nTest\n\nTest
gets rendered as
[code]
while I would expect
[code]

[2021-08-10 13:29] ndemie commented on #269
Also, unrelated (so let me know if you want this in a seperate issue), but none of the custom glyph's seem to get rendered for me e.g. codeBlockBackground, quoteStripe and thematicBreak. Any clue where the issue could be?

[2021-08-10 13:32] ndemie commented on #270
Thank you for the thorough answer. It makes complete sense. We've decided to support and render these types with their own custom styling, but not allow the user to mark them up in the UI. So if the user knows we use CommonMark they can still apply it and it'll get rendered properly, but it shouldn't happen much in practice

[2021-08-10 14:16] johnxnguyen commented on #270
@ndemie I'm happy to help, also for any further question you have.

[2021-08-10 14:19] johnxnguyen commented on #269
@ndemie those custom attributes require the use of the `DownLayoutManager`, which understands what they are and is capable of drawing them in the text view. In short, you need to insert an instance of this object in your text field stack. Check out the implementation of `DownTextView`, or open a new issue and we can discuss it in more detail there.

[2021-08-10 14:22] johnxnguyen commented on #269
@ndemie regarding the line break issue, I'll need to try it out myself and do some debugging, not sure if it's an issue with the parsing or the styling. I have a bit of a backlog of things to do for this repo so I won't be able to jump on this immediately. Feel free to come back and remind me if there's no activity here.

[2021-10-05 19:40] PierreBrisorgueil opened #273 "xCode13 CompileSwiftSources normal x86_64 com.apple.xcode.tools.swift.compiler"
Hello, just ran into this with SPM :

https://developer.apple.com/documentation/Xcode-Release-Notes/xcode-13-release-notes

`CompileSwiftSources normal x86_64 com.apple.xcode.tools.swift.compiler (in target 'Down' from project 'Down')
`

[2021-10-08 03:35] joeyliu7975 opened #274 "[ListItemOptions] Support `line spacing` for list items"
Please help prevent duplicate requests before submitting a new one:

 ✅  I've searched other open/closed issues for duplicates before opening up this new issue.

# Feature Request
We want `list item` to support line spacing, which will get developers room to create a more flexible and customized layout.

## Describe alternatives you've considered
Since `DownStylerConfiguration.paragraphStyle` line

[2021-11-12 22:25] justg5594 opened #277 "Ok"

[2021-11-23 22:04] applypost commented on #269
Multiple breaks isn't working for me either with [the solution](https://github.com/johnxnguyen/Down/issues/269#issuecomment-892573441).

Is the fix still in the backlog?

[2021-12-15 13:40] apps4everyone opened #278 "Update to cmark 0.30.2"
Update to cmark 0.30.2

[2022-01-07 21:18] Salman88 commented on #175
root/Pods/Down/Sources/cmark/cmark.h:5:10: 'cmark_export.h' file not found with <angled> include; use "quotes" instead
#include <cmark_export.h>
         ^~~~~~~~~~~~~~~~
root/Pods/Down/Sources/cmark/cmark.h:6:10: 'cmark_version.h
<img width="1164" alt="Xcode Version 13 2 1" src="https://user-images.githubusercontent.com/1101760/148608707-78bda476-5093-4753-b0d9-177be57f956a.png">
<img width="1116

[2022-01-07 21:27] Salman88 commented on #175
Manually changing file by adding **quotes** works but on build server it fails

Tested with
**Xcode version Version 12.5.1, Version 13.2.1**
**Cocoa pod version 1.10.2 and 1.11.2**
**Down version (0.11.0)**

[code]
**Image on Xcode Version 13.2.1**
<img width="1164" alt="Xcode Version 13 2 1" src="https://user-images.githubusercontent.com/1101760/148608707-78bda476-5093-4753-b0d9-177be57f956a.png"

[2022-01-18 09:04] protosse opened #279 "The Emphasis don't display well."
Please help prevent duplicate issues before submitting a new one:

* ✅ I've searched other open/closed issues for duplicates before opening up this new issue.

# Report

## What did you do?

![image](https://user-images.githubusercontent.com/30048222/149904109-498fccff-4a45-49c9-a53c-ebc5c6e07781.png)

## What did you expect to happen?

the *f(x)* should display like the next line.

[2022-01-25 07:49] #277 closed, assigned to nobody

[2022-03-09 20:09] Parth commented on #278
@johnxnguyen we've run into a bug which is present on 0.29, but not present on 0.30:

If you try to render a single tick (`) on 0.30.2 with the following C code:

[code]

you get:

[code]

as expected, but if you do so with 0.29 (Down's current version which is 3 years old) you get:

[code]

which exceeds the document bounds and depending on what you're doing with the AST you'll experience crashes

[2022-03-09 20:10] Parth commented on #278
here is the tree visualized in the xcode debugger:
![image](https://user-images.githubusercontent.com/821972/157525709-34972726-2b5f-4966-a74f-aaee359eb45f.png)

[2022-03-09 20:12] Parth commented on #278
if you need it here is what the debug visitor sees:
[code]

(which is fine)

[2022-03-09 20:13] Parth commented on #278
Here is a small C program you can use for testing:

[bugqmark.zip](https://github.com/johnxnguyen/Down/files/8217834/bugqmark.zip)

if you go into the cmark folder and checkout the most recent commit and regen the libs you'll find that the problem goes away and we're returned valid ranges.

[2022-03-09 20:14] Parth commented on #278
Thanks for lending a hand with the C code @steverusso

[2022-03-09 21:28] Parth commented on #278
I updated on my fork, and everything seems to be working fine, will report back as I explore more: https://github.com/Parth/Down

[2022-04-21 10:45] snaill opened #282 "file protocol is not support"
[code]

[2022-04-28 07:59] ndemie commented on #269
Any update on this @johnxnguyen?

[2022-04-28 08:50] ndemie opened #283 "Punctuation gets placed at the start of the line"
I'm running in to an issue where punctuation gets placed at the start of a line for some paragraphs. The source text in our database seems correct and after parsing to an attributed string the string also seems correct. There must be something in the styling that causes this however I'm unable to find anything weird.

Input text: `Wat gaan wij tijdens de training doen?`

The printed attributed str

[2022-04-28 08:53] ndemie commented on #283
Forcing a `baseWritingDirection` of `NSWritingDirection.init(rawValue: 0)` on the `NSMutableParagraphStyle()` assigned to the `StaticParagraphStyleCollection` properties fixes this.

However I'm unsure where the "-1" comes from that's being printed. This might be a bug in the library

[2022-04-28 08:53] #283 closed, assigned to nobody

[2022-05-06 16:03] AnnapurnaPriya opened #284 "How to render mark down image url with attributed string"
I am using Down SDK in my iOS project, I want to display multi color text for header, bullet and content of markdown.
How can I render image url, because using attributed string image url is not displaying in UITextView

[2022-06-04 02:37] AbhijeetCherungottil opened #285 "DownStylerConfiguration not working for link in UILabel"
Please help prevent duplicate issues before submitting a new one:

* [x] I've searched other open/closed issues for duplicates before opening up this new issue.

# Report

## What did you do?

      let configuration = DownStylerConfiguration()
       let fonts = StaticFontCollection(heading1: UIFont.preferredFont(forTextStyle: .largeTitle), heading2:     UIFont.preferredFont(forTextStyle: .title1

[2022-06-08 08:34] ps-vm opened #286 "Function Call Object Injection Sink"
Please help prevent duplicate issues before submitting a new one:

* [ x] I've searched other open/closed issues for duplicates before opening up this new issue.

# Report
Our SAST report picked up a critical vulnerability within this library
- "Bracket object notation with user input is present, this might allow an attacker to access all properties of the object and even it's prototype, leading t

[2022-06-08 08:37] ps-vm opened #287 "SAST flagged: Format strings can be influenced by an attacker"
Please help prevent duplicate issues before submitting a new one:

* [ x] I've searched other open/closed issues for duplicates before opening up this new issue.

# Report
Our SAST report picked up a high vulnerability within this library
- "If format strings can be influenced by an attacker, they can be exploited, and note that sprintf variations do not always \0-terminate (CWE-134)."
## What did

[2022-06-08 08:39] ps-vm opened #288 "SAST flagged: Unsafe Regular Expression"
Please help prevent duplicate issues before submitting a new one:

* [ x] I've searched other open/closed issues for duplicates before opening up this new issue.

# Report
Our SAST report picked up a high vulnerability within this library
- "Potentially unsafe regular expressions. It may take a very long time to run."
## What did you do?

Configured SAST to run within GitLab pipelines for our iOS

[2022-06-15 09:10] ashanatbol opened #289 "Cannot see images in when using toAttributedString()"
Please help prevent duplicate issues before submitting a new one:

* [x] I've searched other open/closed issues for duplicates before opening up this new issue.

# Report

## What did you do?

I am trying to show markdown text using  .toAttributedString() to UILabel

## What did you expect to happen?

Show makrdown text with images

## What happened instead?

Images is in the markdown is replaced

[2022-06-20 10:18] adha8911 commented on #289
So I found that coz I was running Xcode with Rosetta

[2022-07-15 07:22] karambirov commented on #267
@johnxnguyen, why don't you consider adding custom styles beyond the Commonmark spec?

[2022-09-02 08:37] ndemie commented on #269
Hi @johnxnguyen, it's been a while. I was wondering if you had the chance to take a look at this yet?

[2022-09-16 21:13] gsbernstein commented on #246
Was there any resolution to this?  @brblakley I saw you made your commit on a fork, did you make a PR into this repo?

We're considering switching libraries due to this bug.

[2022-09-16 21:16] gsbernstein commented on #246
![lists](https://user-images.githubusercontent.com/6655924/190756193-3d143ac4-f93c-4092-8dde-c8abb227b1e7.jpg)
two examples on the same screen

[2022-11-15 04:51] sergeymild commented on #285
The same error, link shows always blue

[2022-11-15 05:22] AbhijeetCherungottil commented on #285
I am not 100% sure, but when UILabel has an NSLink, no matter what we do, the compiler converts the link on runtime. I'm not sure if it can be fixed because it's a UILabel default behaviour.

[2022-11-30 04:26] VatanaChhorn commented on #175
I am still experiencing the same issue on Nov 2022. Are there any updates upon this besides manually changing to the quotation marks? @iwasrobbed